{% extends 'main/detail_base.html' %}
{% load widget_tweaks %}

{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 用例 - {{ block.super }}
    {% else %}
        新用例 - {{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_case').addClass('active');
            // 定义m2m字段
            window.$m2m_input = $('input[name=step]');
        })
    </script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 获取变量组下拉项
            {% if request.user == obj.creator or not form.initial %}
                getList("{% url 'variable_group_select_json' %}", window.$csrf_input.val(), update_variable_groups_dropdown, '{"selected_pk": "{{ form.variable_group.value }}"}');
            {% else %}
                getList("{% url 'variable_group_select_json' %}", window.$csrf_input.val(), update_variable_groups_dropdown_readonly, '{"selected_pk": "{{ form.variable_group.value }}"}');
            {% endif %}
            // 注册只看自己复选框
            $('#all_').on('click', function() {$('#m2m_objects_form').submit()});
            // 注册m2m新增按钮
            $('#m2m_add_button').on('click', function() {m2m_detail_popup('{% url 'step_add' %}?inside=1')});
            // 获取待选m2m
            submit_m2m_all_objects_form('/case', '{% url "step_list_json" %}', get_cookie('last_condition_json'));
            // 注册待选m2m排序
            $('#m2m_all th[order_by_text]').on('dblclick', function () {m2m_sort($(this).attr('order_by_text'))});
            {% if temp_list_json %}
                // 获取暂存m2m
                getList("{% url 'step_list_temp' %}", window.$csrf_input.val(), m2m_list_selected_update, "{{ temp_list_json|escapejs }}");
            {% else %}
                {% if pk %}
                    // 获取m2m
                    getList("{% url 'case_steps' pk %}", window.$csrf_input.val(), m2m_list_selected_update);
                {% else %}
                    // 初始化m2m字段
                    m2m_list_selected_update(true, {'data': []});
                    update_m2m_selected_index_and_field(window.$m2m_input);
                {% endif %}
            {% endif %}
            // 处理m2m拖动及排序
            m2m_handle(window.$m2m_input, 8);
        });
        // 回调更新m2m
        function update_m2m_objects() {
            submit_m2m_all_objects_form('/case', '{% url "step_list_json" %}', get_cookie('last_condition_json'));
            var temp_list_json = window.$m2m_input.val();
            getList("{% url 'step_list_temp' %}", window.$csrf_input.val(), m2m_list_selected_update, temp_list_json);
        }
        // 更新待选m2m列表
        function update_m2m_list_all(success, data) {
            if (success) {
                // 更新并注册分页工具
                update_and_bind_paginator(data.data.page, data.data.max_page, data.data.size);
                var tbody = $('#m2m_all tbody');
                tbody.empty();
                if (data.data.objects.length > 0) {
                    $.each(data.data.objects, function (i, v) {
                        var tr = $('<tr>').attr('pk', v.pk).attr('url', v.url).attr('uuid', v.uuid);
                        $('<td moveable class="middle"><i class="icon-move"></i></td>').addClass('middle').appendTo(tr);
                        var a = $('<a href="javascript:m2m_detail_popup(\''+v.url+'?inside=1\')">').text(v.name);
                        $('<td name>').append(a).appendTo(tr);
                        $('<td>').text(v.keyword).appendTo(tr);
                        $('<td>').addClass('middle').text(v.project__name).appendTo(tr);
                        $('<td>').addClass('middle').text(v.action).appendTo(tr);
                        $('<td>').addClass('middle').text(v.real_name).appendTo(tr);
                        var span = $('<span>').text(v.modified_date_sort).attr('title', v.modified_date).attr('data-toggle', 'tooltip').tooltip();
                        $('<td>').addClass('middle').append(span).appendTo(tr);
                        tbody.append(tr);
                    });
                    // 使得步骤列表可拖动
                    tbody.find('tr').draggable({
                        appendTo: 'body',
                        connectToSortable: '#m2m_selected tbody',
                        cursor: "crosshair",
                        handle: "[moveable]",
                        distance: 15,
                        scope: "m2m_all",
                        helper: function() {
                            var tr = $(this).clone().removeClass().css('background-color', 'lightblue');
                            tr.children('[moveable]').after($('<td index class="text-center"></td>'));
                            return tr;
                        },
                        stop: function( event, ui ) {
                            ui.helper.removeAttr('style');
                        }
                    });
                } else {
                    var tr = $('<tr placeholder><td colspan="7" class="text-center bg-secondary"><span class="text-white">无数据</span></td></tr>');
                    tbody.empty().append(tr);
                }
                update_sort_icon();
            }
        }
        // 更新已选步骤列表
        function m2m_list_selected_update(success, data) {
            if (success) {
                var tbody = $('#m2m_selected tbody');
                if (data.data.length > 0) {
                    tbody.empty();
                    $.each(data.data, function (i, v) {
                        var tr = $('<tr>').attr('pk', v.pk).attr('url', v.url).attr('uuid', v.uuid);
                        $('<td moveable class="middle"><i class="icon-move"></i></td>').addClass('middle').appendTo(tr);
                        $('<td index class="text-center"></td>').addClass('middle').appendTo(tr);
                        var a = $('<a>').text(v.name);
                        $('<td name>').append(a).appendTo(tr);
                        $('<td>').text(v.keyword).appendTo(tr);
                        $('<td>').addClass('middle').text(v.project__name).appendTo(tr);
                        $('<td>').addClass('middle').text(v.action).appendTo(tr);
                        $('<td>').addClass('middle').text(v.real_name).appendTo(tr);
                        var span = $('<span>').text(v.modified_date_sort).attr('title', v.modified_date).attr('data-toggle', 'tooltip').tooltip();
                        $('<td>').addClass('middle').append(span).appendTo(tr);
                        tbody.append(tr);
                    });
                } else {
                    var tr = $('<tr placeholder><td colspan="8" class="text-center bg-secondary"><span class="text-white">无数据</span></td></tr>');
                    tbody.empty().append(tr);
                }
                update_m2m_selected_index_and_field(window.$m2m_input);
            }
        }

    </script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='用例' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate>
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">名称</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.name %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">描述</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.description rows='2' %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">关键字</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.keyword %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold"><i class="icon-question-sign" data-toggle="tooltip" title="如果用例中单独设置了变量组，或测试过程中定义了同名变量，将使用内部变量代替公共变量"></i>&nbsp;本地变量组</div>
            <div class="col" form_data>
                <div id="variable_group_dropdown" name="variable_group"></div>
                {% for error in form.variable_group.errors %}
                    <div class="invalid-feedback" style="display: block">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">项目</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.project %}
            </div>
        </div>

        <input type="text" name="step" id="id_step" hidden>
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='case_copy' %}
    </form>
{% endblock %}

{% block detail_inner_list %}
    <div id='step' class="row">
        <div id="m2m_all" class="col-6 text-center">
            <h5 class="ui-widget-header"><i class="icon-question-sign" data-toggle="tooltip" title="拖动到右侧添加"></i>&nbsp;可选步骤列表</h5>
            <form method="post" id="m2m_objects_form" novalidate onsubmit="return submit_m2m_all_objects_form('/case', '{% url "step_list_json" %}');">
                <input type="hidden" name="order_by" id="id_order_by">
                <input type="hidden" name="order_by_reverse" id="id_order_by_reverse">
                <div style="padding-bottom: 10px">
                    {% include 'main/include/tools_bar_sub_list.html'%}
                </div>
                <div class="small" style="min-height: 310px">
                    <table class="table table-sm table-bordered table-hover" style="width: 100%">
                        <colgroup>
                            <col style='width: 30px;'>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col style='width: 80px;'>
                            <col style='width: 80px;'>
                        </colgroup>
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th order_by_text="name">名称</th>
                                <th order_by_text="keyword">关键字</th>
                                <th order_by_text="project__name">项目</th>
                                <th order_by_text="action">动作</th>
                                <th order_by_text="real_name">作者</th>
                                <th order_by_text="modified_date">修改日期</th>
                            </tr>
                        </thead>
                        <tbody class="text-left"></tbody>
                    </table>
                </div>
                {% include 'main/include/tools/paginator_without_size.html' %}
            </form>
        </div>
        <div id="m2m_selected" class="col-6 text-center">
            <h5 class="ui-widget-header"><i class="icon-question-sign" data-toggle="tooltip" title="上下拖动进行排序，从待选列表拖动到拖动到已选列表进行添加，拖动回待选列表则删除"></i>&nbsp;已选步骤列表</h5>
            <div style="padding-bottom: 10px">
                <div style="padding: 0" class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col text-left">
                            <button type="button" id="m2m_add_button" class="btn btn-success"><i class="icon-plus"></i>&nbsp;新增</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small" style="min-height: 310px">
                <table class="table table-sm table-bordered table-hover" style="width: 100%">
                    <colgroup>
                        <col style='width: 30px;'>
                        <col style='width: 40px;'>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style='width: 80px;'>
                        <col style='width: 80px;'>
                    </colgroup>
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>顺序</th>
                            <th>名称</th>
                            <th>关键字</th>
                            <th>项目</th>
                            <th>动作</th>
                            <th>作者</th>
                            <th>修改日期</th>
                        </tr>
                    </thead>
                    <tbody class="text-left"></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock%}