{% extends 'main/list_base.html' %}
{% block title %}用例 - {{ block.super }}{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_case').addClass('active');
            // 获取添加地址
            window.addUrl="{% url 'case_add' %}"
        })
    </script>
{% endblock %}
{% block result_table %}
    <div class="table-responsive" id='result_table'>
        <table class="table table-bordered table-hover">
            <colgroup>
                <col style='width: 80px;'>
                <col style='width: 80px;'>
                <col>
                <col style='width: 200px;'>
                <col style='width: 100px;'>
                <col style='width: 120px;'>
            </colgroup>
            <thead class="thead-light middle">
                <tr>
                    <th>序号</th>
                    <th order_by_text="pk">ID</th>
                    <th order_by_text="name">名称</th>
                    <th order_by_text="keyword">关键字</th>
                    <th order_by_text="m2m_count">步骤数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr pk="{{ object.pk }}" edit_url="{% url 'case' object.pk %}" quick_update_url="{% url 'case_quick_update' object.pk %}" del_url="{% url 'case_delete' object.pk %}">
                        <td col_name='index' class="middle"></td>
                        <td col_name='id' class="middle">{{ object.pk }}</td>
                        <td quick_update col_name='name' class="align-middle">{{ object.name }}</td>
                        <td quick_update col_name='keyword' class="align-middle">{{ object.keyword }}</td>
                        <td col_name='step_count' class="middle">{{ object.m2m_count }}</td>
                        <td>
                            <div class="middle">
                                <button type="button" name="edit_button" class="btn btn-info"><i class="icon-edit"></i></button>
                                <button type="button" name="delete_button" class="btn btn-danger"><i class="icon-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center bg-secondary">查无数据</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}