{% load widget_tweaks %}
{% if field.errors %}
    {% if readonly %}
        {% render_field field|attr:"readonly:readonly" class="form-control is-invalid" placeholder=placeholder rows=rows%}
    {% else %}
        {% render_field field class="form-control is-invalid" placeholder=placeholder rows=rows%}
    {% endif %}
    {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
{% else %}
    {% if readonly %}
        {% render_field field|attr:"readonly:readonly" class="form-control" placeholder=placeholder rows=rows%}
    {% else %}
        {% render_field field class="form-control" placeholder=placeholder rows=rows%}
    {% endif %}
{% endif %}
