{% load staticfiles %}
<script src="{% static 'main/js/popper/popper.js' %}"></script>
<script src="{% static 'main/js/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'main/js/jquery.dropdown/jquery.dropdown.js' %}"></script>
<script src="{% static 'main/js/bootstrap-4.1.1/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/bootbox/bootbox.min.js' %}"></script>
<script src="{% static 'main/js/toastr-2.1.4/toastr.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>