{% load staticfiles %}
<link rel="stylesheet" href='{% static "main/css/jquery-ui/jquery-ui.css" %}'>
<link rel="stylesheet" href="{% static 'main/css/jquery.dropdown/jquery.dropdown.css' %}">
<link rel="stylesheet" href="{% static 'main/css/bootstrap-4.1.1/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'main/css/toastr-2.1.4/toastr.css' %}">
<link rel="stylesheet" href="{% static 'main/css/font-awesome/font-awesome.css' %}">
<link rel="stylesheet" href='{% static "main/css/main.css" %}'>