<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" id="nav_case">
                    <a class="nav-link" href="{% url 'cases' %}">用例</a>
                </li>
                <li class="nav-item" id="nav_step">
                    <a class="nav-link" href="{% url 'steps' %}">步骤</a>
                </li>
                <li class="nav-item" id="nav_config">
                    <a class="nav-link" href="{% url 'configs' %}">配置</a>
                </li>
                <li class="nav-item" id="nav_variable">
                    <a class="nav-link" href="{% url 'variable_groups' %}">变量组</a>
                </li>
                <li class="nav-item" id="nav_element">
                    <a class="nav-link" href="{% url 'element_groups' %}">元素组</a>
                </li>
                <li class="nav-item" id="nav_suite">
                    <a class="nav-link" href="{% url 'suites' %}">套件</a>
                </li>
                <li class="nav-item" id="nav_result">
                    <a class="nav-link" href="{% url 'results' %}">结果</a>
                </li>
                <li class="nav-item" id="nav_status">
                    <a class="nav-link" href="{% url 'suites_status' %}">状态监控</a>
                </li>
                <li class="nav-item" id="nav_help">
                    <a class="nav-link" href="{% url 'helps' %}">帮助</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end">
            <div>
                <span class="navbar-text" style="color: powderblue;">当前用户</span>
                <a id="user_link" class="navbar-text" style="color: yellow; padding: 0 0.5em" href="javascript:modal_with_iframe('user_modal', '', '', 'height: 450px', '用户信息', '{% url 'user' %}?inside=1')">{{ request.user.last_name }}{{ request.user.first_name }}{% if not request.user.last_name and not request.user.first_name %}{{ request.user.username }}{% endif %}</a>
                <button id="logout_btn" class="btn btn-secondary" type="button"><i class="icon-signout">&nbsp;</i>注销</button>
            </div>
        </div>
    </div>
</nav>