<div style="padding: 5px 0" class="container-fluid" id="list_tools_bar">
    <div class="row align-items-center">
        <div class="col-5">
            <table style="width: 100%">
                <colgroup><col><col style="width: 120px;"></colgroup>
                <tr>
                    <td>{% include 'main/include/tools/search-tools.html' %}</td>
                    <td class="middle">{% include 'main/include/tools/see_all.html' %}</td>
                </tr>
            </table>
        </div>
        {% if parent_name %}
            <div class="col-4">
                <table style="width: 100%">
                    <colgroup><col style="width: 70px;"><col></colgroup>
                    <tr>
                        <td class="small font-weight-bold">{{ parent_label }}</td>
                        <td><div id="parent_select_dropdown" name="{{ parent_name }}"></div></td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div class="col text-right">
            {% if copy_button %}<button type="button" id="multiple_copy_button" class="btn btn-warning" disabled="disabled"><i class="icon-copy"></i>&nbsp;批量复制</button>{% endif %}
            <button type="button" id="multiple_delete_button" class="btn btn-danger" disabled="disabled"><i class="icon-trash"></i>&nbsp;批量删除</button>
            {% if add_button %}<button type="button" id="add_button" class="btn btn-success"><i class="icon-plus"></i>&nbsp;添加</button>{% endif %}
        </div>
    </div>
</div>