{% extends 'main/detail_base.html' %}
{% load widget_tweaks %}
{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 配置 - {{ block.super }}
    {% else %}
        新配置 - {{ block.super }}
    {% endif %}
{% endblock %}
{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_config').addClass('active');
            // 注册驱动类型改变事件
            $('#id_ui_selenium_client').on('change', function () {
                show_ui_selenium_client_related($(this))
            });
            // 注册窗口改变事件
            $('#id_ui_window_size').on('change', function () {
                show_ui_window_size_related($(this))
            });
            // 初始化驱动类型关联项
            show_ui_selenium_client_related($('#id_ui_selenium_client'));
            // 关闭遮罩
            $('#mask').hide();
        });
        // 处理驱动类型关联项
        function show_ui_selenium_client_related($select) {
            if ($select.val() == 1) {
                $('#ui_config').find('select:not(#id_ui_selenium_client),input').removeAttr('readonly');
                $('#id_ui_remote_ip').attr('readonly', true);
                $('#id_ui_remote_port').attr('readonly', true);
                show_ui_window_size_related($('#id_ui_window_size'));
            } else if ($select.val() == 2) {
                $('#ui_config').find('select:not(#id_ui_selenium_client),input').removeAttr('readonly');
                $('#id_ui_remote_ip').removeAttr('readonly');
                $('#id_ui_remote_port').removeAttr('readonly');
                show_ui_window_size_related($('#id_ui_window_size'));
            } else {
                $('#ui_config').find('select:not(#id_ui_selenium_client),input').attr('readonly', true);
            }
        }
        // 处理窗口关联项
        function show_ui_window_size_related($select) {
            if ($select.val() == 1) {
                $('#id_ui_window_width').attr('disabled', true);
                $('#id_ui_window_height').attr('disabled', true);
            } else {
                $('#id_ui_window_width').removeAttr('disabled');
                $('#id_ui_window_height').removeAttr('disabled');
            }
        }
    </script>
{% endblock %}

{% block detail_header %}
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">
        {% if form.initial %}
            创建时间：{{ obj.created_date }}，创建人：{{ obj.creator }}，上次修改时间：{{ obj.modified_date }}，修改人：{{ obj.modifier }}
        {% else %}
            添加一个配置
        {% endif %}
        </li>
    </ol>
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate>
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">名称</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.name %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">描述</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.description rows='5' %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">关键字</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.keyword %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">配置项</div>
            <div class="col" form_data>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#ui_config">UI测试配置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#api_config">API测试配置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#db_config">DB测试配置</a>
                    </li>
                </ul>
                <div class="tab-content bg-light">
                    <div id="ui_config" class="container tab-pane active" style="padding: 1em">
                        <div class="form-inline">
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>驱动类型：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_selenium_client %}
                            </div>
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>IP：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_remote_ip %}
                            </div>
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>端口：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_remote_port %}
                            </div>
                        </div>
                        <br>
                        <div class="form-inline">
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>浏览器类型：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_driver_type %}
                            </div>
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>窗口大小：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_window_size %}
                            </div>
                        </div>
                        <br>
                        <div class="form-inline">
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>窗口宽度：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_window_width %}
                            </div>
                            <div class="form-group" style="padding: 0 5px" form_data>
                                <label>窗口高度：</label>
                                {% include 'main/include/form_input.html' with field=form.ui_window_height %}
                            </div>
                        </div>
                    </div>
                    <div id="api_config" class="container tab-pane" style="padding: 1em">
                    </div>
                    <div id="db_config" class="container tab-pane" style="padding: 1em">
                    </div>
                </div>
            </div>
        </div>

        <input name="redirect" hidden value="{{ redirect }}">
        <input name="redirect_url" hidden value="{{ redirect_url }}">

        {% include 'main/include/submit_button_group.html' %}
    </form>
{% endblock %}