{% extends 'main/detail_base.html' %}
{% load static %}
{% block title %}
    {% if form.initial.name %}
        配置{{ block.super }} | {{ form.initial.name }}
    {% else %}
        新配置{{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style media='screen'>

    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_config').addClass('active');
        });
    </script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 注册驱动类型改变事件
            $('#id_ui_selenium_client').on('change', function () {
                show_ui_selenium_client_related($(this))
            });
            // 注册窗口改变事件
            $('#id_ui_window_size').on('change', function () {
                show_ui_window_size_related($(this))
            });
            // 初始化驱动类型关联项
            show_ui_selenium_client_related($('#id_ui_selenium_client'));
            // 关闭遮罩
            $('#mask').hide();
        });
    </script>
    <script src="{% static 'main/js/detail_config.js' %}"></script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='配置' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate>
        {% csrf_token %}
        {% include 'main/config/detail_form_content.html' %}
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='config_copy' obj_name=form.name.value %}
    </form>
{% endblock %}