{% extends 'main/detail_base.html' %}
{% load widget_tweaks %}
{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 变量组 - {{ block.super }}
    {% else %}
        新变量组 - {{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_variable').addClass('active');
        });
    </script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 注册添加按钮
            $('#new_helper td[col_move]').on('click', function () {
                addVariable();
            });
            {% if temp_list_json %}
                // 获取暂存变量
                variable_update(true, $.parseJSON("{{ temp_list_json|escapejs }}"));
            {% else %}
                {% if pk %}
                    // 获取变量
                    getList("{% url 'variable_group_variables' pk %}", window.$csrf_input.val(), variable_update);
                {% else %}
                    // 初始化变量字段
                    update_variable_index_and_field(true);
                {% endif %}
            {% endif %}
            // 注册new helper的删除按钮事件
            $('#new_helper [col_del]').off('click').on('click', function () {
                $('#new_helper [col_name] input,#new_helper [col_value] input,#new_helper [col_description] input').val('').removeClass('is-invalid').siblings('div.invalid-feedback').remove();
            });
            // 启用排序功能
            sortable_variable();
        });
        // 启用排序功能
        function sortable_variable() {
            $('#variable_table tbody').sortable({
                items: "tr:not(#new_helper)",
                distance: 15,
                handle: "[moveable]",
                placeholder: 'ui-state-highlight',
                stop: function( event, ui ) {
                    update_variable_index_and_field();
                }
            });
        }
        // 更新变量列表
        function variable_update(success, data) {
            if (success) {
                if (data.data.length > 0) {
                    $.each(data.data, function (i, v) {
                        var tr = $('<tr></tr>');
                        $('<td class="middle" col_move moveable><i class="icon-sort icon-2x"></i></td>').appendTo(tr);
                        $('<td class="middle" col_del><i class="icon-trash icon-2x" data-toggle="tooltip" title="删除"></i></td>').off('click').on(
                            'click', function() { del_variable(tr) }).appendTo(tr);
                        var span = $('<span></span>').text(i + 1);
                        $('<td index class="middle" col_index></td>').append(span).appendTo(tr);
                        var input = $('<input placeholder="请输入变量名" class="form-control">').val(v.name).off('change').on('change', function () { update_variable_index_and_field() });
                        $('<td col_name></td>').append(input).appendTo(tr);
                        var input = $('<input placeholder="请输入变量值" class="form-control">').val(v.value);
                        $('<td col_value></td>').append(input).appendTo(tr);
                        var input = $('<input placeholder="" class="form-control">').val(v.description);
                        $('<td col_description></td>').append(input).appendTo(tr);
                        tr.insertBefore($('#new_helper'));
                    });
                }
                update_variable_index_and_field();
                // 注册提示框
                $('[data-toggle=tooltip]').tooltip();
            }
        }
        // 添加变量
        function addVariable() {
            var new_helper = $('#new_helper');
            var name_input = $('#new_helper td[col_name] input');
            name_input.removeClass('is-invalid');
            name_input.siblings('div.invalid-feedback').remove();
            var check_result = check_variable_name(name_input.val(), get_variable_name_list_());
            if (check_result === true) {
                var new_variable = new_helper.clone();
                // 去掉new_helper id 和 背景色
                new_variable.removeAttr('id').removeClass('bg-light');
                // 改变新增按钮为排序按钮
                new_variable.children('td[col_move]').attr('moveable', '').empty().append('<i class="icon-sort icon-2x"></i>');
                // 重新注册删除按钮事件
                new_variable.children('td[col_del]').off('click').on('click', function() { del_variable(new_variable) });
                new_variable.find('td[col_name] input').off('change').on('change', function () { update_variable_index_and_field() });
                // 插入并淡入
                new_variable.insertBefore(new_helper).hide();
                new_variable.fadeIn("slow");
                $('#new_helper td[col_name] input').val('').focus();
                $('#new_helper td[col_value] input').val('');
                $('#new_helper td[col_description] input').val('');
                update_variable_index_and_field();
                // 注册提示框
                $('[data-toggle=tooltip]').tooltip();
                return true;
            } else {
                get_invalid_input(name_input, check_result);
                return false;
            }
        }
        // 删除变量
        function del_variable($tr) {
            var name = $tr.find('td[col_name] input').val();
            var msg = '要删除<span class="mark">' + name + '</span>吗？';
            bootbox.confirm({
                title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                message: msg,
                size: 'large',
		        backdrop: true,
                buttons: {
                    confirm: {
                        label: '<i class="icon-trash">&nbsp;</i>确定',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '<i class="icon-undo">&nbsp;</i>取消',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $tr.fadeOut("slow", function() {
                            $(this).remove();
                            update_variable_index_and_field();
                        });
                    }
                }
            });
        }
        // 获取当前变量名列表
        function get_variable_name_list_() {
            var trs = $('#variable_table tbody tr:not(#new_helper)');
            var variable_name_list = [];
            trs.each(function(i) {
                variable_name_list.push($(this).find('td[col_name] input').val());
            });
            return variable_name_list;
        }
        // 验证变量名
        function check_variable_name(name, variable_name_list_) {
            if (!name || ''===name.trim()) {
                return '变量名不能为空'
            }
            var index = $.inArray(name, variable_name_list_);
            if (index >= 0) {
                return '与第[' + (index + 1) + ']个变量重名'
            }
            return true;
        }
        // 生成带错误提示的输入框
        function get_invalid_input($input, check_result){
            $input.removeClass('is-invalid');
            $input.siblings('div.invalid-feedback').remove();
            var errorDiv = $('<div class="invalid-feedback">' + check_result + '</div>');
            $input.addClass('is-invalid');
            $input.after(errorDiv);
        }
        // 更新变量列表序号，更新variable field内容
        function update_variable_index_and_field() {
            var trs = $('#variable_table tbody tr:not(#new_helper)');
            var variable_list = [];
            var variable_name_list = [];
            trs.each(function(i) {
                $(this).find('td[col_index] span').text(i+1);
                var name_input = $(this).find('td[col_name] input');
                var name = name_input.val();
                var check_result = check_variable_name(name, variable_name_list);
                name_input.removeClass('is-invalid');
                name_input.siblings('div.invalid-feedback').remove();
                if (check_result === true) {
                    var value = $(this).find('td[col_value] input').val();
                    var description = $(this).find('td[col_description] input').val();
                    var variable = {};
                    variable.name = name;
                    variable.value = value;
                    variable.description = description;
                    variable_list.push(variable);
                    variable_name_list.push(name);
                } else {
                    get_invalid_input(name_input, check_result);
                }
            });
            var json_str = JSON.stringify(variable_list);
            $('input[name=variable]').val(json_str);
            // 关闭遮罩
            $('#mask').hide();
        }
        // 检查是否有未保存的变量
        function check_unsaved() {
            var name = $('#new_helper td[col_name] input').val();
            if (name !== '') {
                var msg = '检查到有未保存的变量<span class="mark">' + name + '</span>，是否需要一并提交？';
                bootbox.confirm({
                    title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                    message: msg,
                    size: 'large',
		            backdrop: true,
                    buttons: {
                        confirm: {
                            label: '<i class="icon-ok">&nbsp;</i>一并提交',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<i class="icon-undo">&nbsp;</i>返回修改',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            if (addVariable()) {
                                $('#object_form').removeAttr('onsubmit').submit();
                            }
                        }
                    }
                });
            } else {
                update_variable_index_and_field();
                $('#object_form').removeAttr('onsubmit').submit();
            }
            return false;
        }
    </script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='变量组' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate onsubmit="return check_unsaved();">
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">名称</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.name %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">描述</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.description rows='2' %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">关键字</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.keyword %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">项目</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.project %}
            </div>
        </div>

        <input name="variable" hidden>
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='variable_group_copy' %}
    </form>
{% endblock %}

{% block detail_inner_list %}
    <div class="row">
        <div class="col text-center">
            <h5 class="ui-widget-header">变量列表&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="变量的加载是有序的，先加载的变量可以被后加载的变量调用"></i></h5>
            <div class="ui-widget-content">
                <table id='variable_table' class="table table-sm table-bordered" style="width: 100%">
                    <colgroup>
                        <col style='width: 60px;'>
                        <col style='width: 60px;'>
                        <col style='width: 60px;'>
                        <col style='width: 20%;'>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="thead-light"><tr><th></th><th></th><th>顺序</th><th>名称</th><th>值</th><th>备注</th></tr></thead>
                    <tbody class="text-left">
                        <tr id="new_helper" class="bg-light">
                            <td class="middle" col_move><i class="icon-ok-circle icon-2x text-success" data-toggle="tooltip" title="添加到变量组"></i></td>
                            <td class="middle" col_del><i class="icon-trash icon-2x" data-toggle="tooltip" title="删除"></i></td>
                            <td class="middle" col_index><span></span></td>
                            <td col_name><input placeholder="请输入变量名" class="form-control"></td>
                            <td col_value><input placeholder="请输入变量值" class="form-control"></td>
                            <td col_description><input placeholder="" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}