{% extends 'main/detail_base.html' %}
{% load widget_tweaks %}
{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 变量组 - {{ block.super }}
    {% else %}
        新变量组 - {{ block.super }}
    {% endif %}
{% endblock %}
{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_variable').addClass('active');
            // 初始化变量名列表
            window.variableNames = [];
            // 注册添加按钮
            $('#new_helper td[col_move]').on('click', function () {
                addVariable();
            });
            {% if temp_list_json %}
                // 获取暂存变量
                variableUpdate(true, $.parseJSON("{{ temp_list_json|escapejs }}"));
                {% if pk %}
                    // 获取变量组
                    getList("{% url 'variable_group_variables' pk %}", window.$csrf_input.val(), variableSave);
                {% endif %}
            {% else %}
                {% if pk %}
                    // 获取变量组
                    getList("{% url 'variable_group_variables' pk %}", window.$csrf_input.val(), variableUpdate);
                {% else %}
                    // 初始化变量组字段
                    updateVariableIndex(true);
                {% endif %}
            {% endif %}

            // 启用排序功能
            sortableVariable();
        });
        // 启用排序功能
        function sortableVariable() {
            $('#variable tbody').sortable({
                items: "tr:not(#new_helper)",
                distance: 15,
                handle: "[moveable]",
                placeholder: 'ui-state-highlight',
                stop: function( event, ui ) {
                    updateVariableIndex();
                }
            });
        }
        // 保存变量列表
        function variableSave(success, data){
            if (success) {
                var tbody = $('#variables tbody');
                tbody.data('original_data', data);
            }
        }
        // 更新变量列表
        function variableUpdate(success, data) {
            if (success) {
                var tbody = $('#variables tbody');
                if (data.data.length > 0) {
                    $.each(data.data, function (i, v) {
                        var tr = $('<tr></tr>');
                        $('<td class="middle" col_move moveable><i class="icon-sort icon-2x"></i></td>').on(
                            'click', function() {
                                delVariable(tr);
                            }).appendTo(tr);
                        $('<td class="middle" col_del><i class="icon-trash icon-2x" data-toggle="tooltip" title="删除"></i></td>').on(
                            'click', function() {
                                delVariable(tr);
                            }).appendTo(tr);
                        var span = $('<span></span>').text(i + 1);
                        $('<td index class="middle" col_index></td>').append(span).appendTo(tr);
                        var input = $('<input placeholder="请输入变量名" class="form-control">').val(v.name).on('change', function () {
                            updateVariableIndex();
                        });
                        $('<td class="middle" col_name></td>').append(input).appendTo(tr);
                        var input = $('<input placeholder="请输入变量值" class="form-control">').val(v.value).on('change', function () {
                            updateVariableIndex();
                        });
                        $('<td class="middle" col_value></td>').append(input).appendTo(tr);
                        tr.insertBefore($('#new_helper'));
                        // 插入变量名列表
                        checkVariableName(v.name);
                    });
                }
                updateVariableIndex(true);
                // 注册提示框
                $('[data-toggle=tooltip]').tooltip();
            }
        }
        // 保存并更新变量列表
        function variableSaveAndUpdate(success, data) {
            variableSave(success, data);
            variableUpdate(success, data)
        }
        // 添加变量
        function addVariable() {
            var new_helper = $('#new_helper');
            new_helper.find('div.invalid-feedback').remove();
            var name_input = $('#new_helper td[col_name] input');
            name_input.removeClass('is-invalid');
            var checkResult = checkVariableName(name_input.val());
            if (checkResult === true) {
                var new_variable = new_helper.clone();
                // 去掉new_helper id，添加新增标志
                new_variable.removeAttr('id').addClass("bg-light");;
                // 改变新增按钮为排序按钮
                new_variable.children('td[col_move]').attr('moveable', '').empty().append('<i class="icon-sort icon-2x"></i>');
                // 添加删除按钮
                new_variable.children('td[col_del]').empty().append('<i class="icon-trash icon-2x" data-toggle="tooltip" title="删除"></i>').on(
                    'click', function() {
                        delVariable(new_variable);
                    });
                // 插入并淡入
                new_variable.insertBefore(new_helper).hide();
                new_variable.fadeIn("slow");
                $('#new_helper td[col_name] input').val('').focus();
                $('#new_helper td[col_value] input').val('');
                updateVariableIndex();
                // 注册提示框
                $('[data-toggle=tooltip]').tooltip();
                return true;
            } else {
                var errorDiv = $('<div class="invalid-feedback">' + checkResult + '</div>');
                name_input.addClass('is-invalid');
                name_input.after(errorDiv);
                name_input.off('change').on('keydown', function() {
                    name_input.removeClass('is-invalid');
                    name_input.siblings('div.invalid-feedback').remove();
                });
                return false;
            }
        }
        // 删除变量
        function delVariable($tr) {
            var name = $tr.find('td[col_name] input').val();
            var msg = '要删除<span class="mark">' + name + '</span>吗？';
            bootbox.confirm({
                title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                message: msg,
                size: 'large',
                buttons: {
                    confirm: {
                        label: '<i class="icon-trash">&nbsp;</i>确定',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '<i class="icon-undo">&nbsp;</i>取消',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        var index = $.inArray(name, window.variableNames);
                        if (index >= 0) {
                            window.variableNames.splice(index, 1);
                        }
                        $tr.fadeOut("slow", function() {
                            $(this).remove();
                            updateVariableIndex();
                        });
                    }
                }
            });
        }
        // 验证并添加变量名
        function checkVariableName(name) {
            if (!name || ''===name.trim()) {
                return '变量名不能为空'
            }
            var index = $.inArray(name, window.variableNames);
            if (index >= 0) {
                var duplicationName = window.variableNames[index];
                return '变量名【' + duplicationName + '】重复'
            }
            window.variableNames.push(name);
            return true;
        }
        // 更新变量列表序号，更新variable field内容
        function updateVariableIndex(init) {
            var trs = $('#variable tbody tr:not(#new_helper)');
            var variable_list = [];
            trs.each(function(i) {
                $(this).find('td[col_index] span').text(i+1);
                var name =$(this).find('td[col_name] input').val();
                var value =$(this).find('td[col_value] input').val();
                var variable = {};
                variable.name = name;
                variable.value = value;
                variable_list.push(variable);
            });
            var json_str = JSON.stringify(variable_list);
            $('input[name=variable]').val(json_str);
            if (init) {
                $('input[name=variable]').attr('value', json_str);
            }
            // 关闭遮罩
            $('#mask').hide();
        }
        // 检查是否有未保存的变量
        function checkUnsaved() {
            var name = $('#new_helper td[col_name] input').val();
            if (name !== '') {
                var msg = '检查到有未保存的变量<span class="mark">' + name + '</span>，是否需要一并提交？';
                bootbox.confirm({
                    title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                    message: msg,
                    size: 'large',
                    buttons: {
                        confirm: {
                            label: '<i class="icon-ok">&nbsp;</i>一并提交',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<i class="icon-undo">&nbsp;</i>返回修改',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            if (addVariable()) {
                                $('#object_form').removeAttr('onsubmit').submit();
                            }
                        }
                    }
                });
            } else {
                $('#object_form').removeAttr('onsubmit').submit();
            }
            return false;
        }
    </script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='变量组' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate onsubmit="return checkUnsaved();">
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">名称</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.name %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">描述</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.description rows='2' %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">关键字</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.keyword %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1 text-center font-weight-bold">项目</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.project %}
            </div>
        </div>

        <input name="variable" hidden>
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' %}
    </form>
{% endblock %}

{% block detail_inner_list %}
    <div id='variable' class="row">
        <div class="col text-center">
            <h5 class="ui-widget-header"><i class="icon-question-sign" data-toggle="tooltip" title="变量的加载是有序的，先加载的变量可以被后加载的变量调用"></i>&nbsp;变量列表</h5>
            <div class="ui-widget-content">
                <table class="table table-sm table-bordered" style="width: 100%">
                    <colgroup>
                        <col style='width: 60px;'>
                        <col style='width: 60px;'>
                        <col style='width: 60px;'>
                        <col style='width: 20%;'>
                        <col>
                    </colgroup>
                    <thead class="thead-light"><tr><th></th><th></th><th>顺序</th><th>名称</th><th>值</th></tr></thead>
                    <tbody class="text-left">
                        <tr id="new_helper">
                            <td class="middle" col_move><i class="icon-save icon-2x" data-toggle="tooltip" title="保存"></i></td>
                            <td class="middle" col_del></td>
                            <td class="middle" col_index><span></span></td>
                            <td col_name><input placeholder="请输入变量名" class="form-control"></td>
                            <td col_value><input placeholder="请输入变量值" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}