{% extends 'main/detail_base.html' %}
{% load staticfiles %}
{% block title %}
    {% if form.initial.name %}
        {{ form.initial.name }} - 变量组 - {{ block.super }}
    {% else %}
        新变量组 - {{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_variable').addClass('active');
            // 列表可调宽度
            $('th').resizable({maxHeight: 1, alsoResize: '#element_table'});
        });
    </script>
    <script src="{% static 'main/js/detail_variable_group.js' %}"></script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            {% if temp_list_json %}
                // 获取暂存变量
                init_variable(true, $.parseJSON("{{ temp_list_json|escapejs }}"));
            {% else %}
                {% if pk %}
                    // 获取变量
                    getList("{% url 'variable_group_variables' pk %}", window.$csrf_input.val(), init_variable);
                {% else %}
                    // 初始化变量字段
                    update_variable_index_and_field(true);
                {% endif %}
            {% endif %}
            // 注册添加按钮
            $('#new_helper td[col_move]').on('click', function () {
                add_variable();
            });
            // 注册new helper的删除按钮事件
            $('#new_helper [col_del]').off('click').on('click', function () {
                $('#new_helper [col_name] input,#new_helper [col_value] input,#new_helper [col_description] input').val('').removeClass('is-invalid').siblings('div.invalid-feedback').remove();
            });
            // 启用排序功能
            sortable_variable();
        });
    </script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='变量组' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate onsubmit="return check_unsaved();">
        {% csrf_token %}
        {% include 'main/variable_group/detail_form_content.html' %}
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='variable_group_copy' %}
    </form>
{% endblock %}

{% block detail_inner_list %}
    {% include 'main/variable_group/detail_list_content.html' %}
{% endblock %}