<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        {% if  object_ %}
            <title>步骤详情 - {{ object_.name }}</title>
        {% else %}
            <title>步骤详情 - 添加</title>
        {% endif %}
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'/>
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'/>
        <link rel="stylesheet" href='{% static "main/css/jquery.dropdown.css" %}'/>
        <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <script src="{% static 'main/js/detail.js' %}"></script>
        <script src="{% static 'main/js/jquery.dropdown.js' %}"></script>
        <script>
            $(function () {
                // 获取action
                get_foreign_key_list({% url 'action_list' %}, '[{{ object_.action.id }}]', update_dropdown_single, 'action')
            });

            function debug(success, para, data) {
                console.log(success);
                console.log(para);
                console.log(data);
                window.ajax_data = data;
            }
        </script>
    </head>
    <body>
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li style="color: red;">error: {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'step' %}" method="post" id="object_form">
            {% csrf_token %}
            <input name="object_id" id="object_id" type="hidden" value="{{ object_.id }}" />
            <table id='detail_table' class="detail_table">
                <colgroup>
                    <col style='width:100px;'>
                    <col>
                </colgroup>
                <tbody id='tbody1'>
                    <tr id="name">
                        <th class="center">名称</th>
                        <td type="value">
                            <textarea class='input_area' name="name">{{ object_.name }}</textarea>
                        </td>
                    </tr>
                    <tr id="description">
                        <th class="center">描述</th>
                        <td type="value">
                            <textarea class='input_area' name="description">{{ object_.description }}</textarea>
                        </td>
                    </tr>
                    <tr id="keyword">
                        <th class="center">关键字</th>
                        <td type="value">
                            <textarea class='input_area' name="keyword">{{ object_.keyword }}</textarea>
                        </td>
                    </tr>
                    <tr id="action">
                        <th class="center">Action</th>
                        <td type="value">
                            <textarea class='input_area' style="display: none" >{{ object_.action.id }}</textarea>
                        </td>
                    </tr>
                    <tr id="timeout">
                        <th class="center">超时</th>
                        <td type="value">
                            <textarea class='input_area' name="timeout">{{ object_.timeout|default:'' }}</textarea>
                        </td>
                    </tr>
                    <tr id="save_as">
                        <th class="center">结果另存</th>
                        <td type="value">
                            <textarea class='input_area' name="save_as">{{ object_.save_as }}</textarea>
                        </td>
                    </tr>
                    <tr id="ui_by">
                        <th class="center">定位方式</th>
                        <td type="value">
                            <textarea class='input_area' name="ui_by">{{ object_.ui_by }}</textarea>
                            <div>{{ object_.get_ui_by_display }}|{{ object_.ui_by_list }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            {{ form }}
            <div class="save_button_group">
                <table>
                    <tr>
                        <td><input type="submit" value="提交"></td>
                        <td><input type="reset" value="还原"></td>
                    </tr>
                </table>
            </div>
        </form>

        <br/>
        <br/>
        {{ pd }}
    </body>
</html>