{% extends 'main/detail_base.html' %}
{% load static %}
{% block title %}
    {% if form.initial.name %}
        数据组{{ block.super }} | {{ form.initial.name }}
    {% else %}
        新数据组{{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style media='screen'>
        td[contenteditable="true"]:focus {
            outline: 2px solid #4CAF50;
        }

        td.no-lef-right-padding {
            padding-left: 0;
            padding-right: 0;
        }

        td.vertical-align-middle {
            vertical-align: middle;
            text-align: center;
        }

    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_data_set').addClass('active');
            // 定义sub字段
            window.$sub_input = $('input[name=row]');
            // 临时列表
            window.temp_sub_list = [];
            // 获取gtm数据地址
            window.get_gtm_data_url="{% url 'get_gtm_data' %}";
        });
    </script>
    <script src="{% static 'main/js/detail_data_set.js' %}"></script>
{% endblock %}

{% block script %}

    <script>
        $(function () {
            {% if pk and pk != "add" %}
                // 获取变量
                {#getData("{% url 'data_set' pk %}", window.$csrf_input.val(), init_data_set);#}
            {% else %}

            {% endif %}
            // 注册添加行按钮
            bind_sub_add_row_button();
            // 注册添加列按钮
            bind_sub_add_col_button();
            // 悬浮批量复制按钮组
            var sub_button_group = $('#sub_button_group');
            {% if inside %}
                float_element(sub_button_group);
            {% else %}
                float_element(sub_button_group, 60);
            {% endif %}
        });
        $(document).ready(function () {
            let data_set_str = $('#data_set_data').val();
            window.data_set = {data: null, gtm: null};
            try {
                window.data_set = JSON.parse(data_set_str); // 转换字符串为 JSON 对象
            } catch (error) {
                console.error("Invalid JSON string:", error);
            }
            create_table_and_register_event(true);
            $('#mask').hide();
        });
        
    </script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='数据组' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate onsubmit="return check_unsaved();">
        {% csrf_token %}
        {% include 'main/data_set/detail_form_content.html' %}
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='data_set_copy' %}
    </form>
{% endblock %}

{% block detail_inner_list %}
    {% include 'main/data_set/detail_list_content.html' %}
{% endblock %}

{% block postpositive_script %}
    {{ block.super }}
    <script>
    $(function () {
        // 确保GTM按钮启用
        check_and_set_whether_the_table_is_interactive();  
    });
    
    </script>
{% endblock %}