{% extends 'main/list_base.html' %}
{% block title %}套件 - {{ block.super }}{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_suite').addClass('active');
            window.$csrf_input = $('input[name="csrfmiddlewaretoken"]');
            // 获取添加地址
            window.addUrl="{% url 'suite_add' %}";
            // 运行按钮
            $('[name=execute_button]').on('click', function () {
                var csrf_token = window.$csrf_input.val();
                var url = $(this).parents('tr').attr('exe_url');
                var name = $(this).parents('tr').find('td[col_name="name"]').text();
                var msg = '开始执行<span class="mark">' + name + '</span>？';
                bootbox.confirm({
                    title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                    message: msg,
                    size: 'large',
                    buttons: {
                        confirm: {
                            label: '<i class="icon-trash">&nbsp;</i>确定',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<i class="icon-undo">&nbsp;</i>取消',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            $('#mask').show();
                            $.post(url, {'csrfmiddlewaretoken': csrf_token}, function(data) {
                                $('#mask').hide();
                                var content_div = $('<div>').html(data.data.suite_result_content);
                                var a = $('<a>').text('查看详情').addClass('btn btn-primary').attr({'href': data.data.suite_result_url, 'target': 'blank_'})
                                content_div.append($('<div>').addClass('middle').append(a));
                                console.log(content_div)
                                bootbox.dialog({
                                    title: '测试结果',
                                    message: content_div,
                                    size: 'large'
                                });
                            });
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}
{% block result_table %}
    <div class="table-responsive" id='result_table'>
        <table class="table table-bordered table-hover">
            <colgroup>
                <col style='width: 80px;'>
                <col>
                <col style='width: 200px;'>
                <col style='width: 400px;'>
                <col style='width: 100px;'>
                <col style='width: 160px;'>
            </colgroup>
            <thead class="thead-light middle">
                <tr>
                    <th order_by_text="pk">ID</th>
                    <th order_by_text="name">名称</th>
                    <th order_by_text="keyword">关键字</th>
                    <th order_by_text="config__name">配置</th>
                    <th order_by_text="m2m_count">用例数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr pk="{{ object.pk }}" edit_url="{% url 'suite' object.pk %}" quick_update_url="{% url 'suite_quick_update' object.pk %}" del_url="{% url 'suite_delete' object.pk %}" exe_url="{% url 'suite_execute' object.pk %}">
                        <td col_name='id' class="middle">{{ object.pk }}</td>
                        <td quick_update col_name='name' class="align-middle">{{ object.name }}</td>
                        <td quick_update col_name='keyword' class="align-middle">{{ object.keyword }}</td>
                        <td col_name='config__name' class="align-middle">{{ object.config__name }}</td>
                        <td col_name='step_count' class="middle">{{ object.m2m_count }}</td>
                        <td>
                            <div class="middle">
                                <button type="button" name="edit_button" class="btn btn-info" data-toggle="tooltip" title="编辑"><i class="icon-edit"></i></button>
                                <button type="button" name="delete_button" class="btn btn-danger" data-toggle="tooltip" title="删除"><i class="icon-trash"></i></button>
                                <button type="button" name="execute_button" class="btn btn-outline-success" data-toggle="tooltip" title="执行"><i class="icon-play"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center bg-secondary">无数据</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}