{% extends 'main/list_base.html' %}
{% block title %}套件 - {{ block.super }}{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>

    </style>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_suite').addClass('active');
            // 获取添加地址
            window.addUrl="{% url 'suites_add' %}";
            // 获取批量删除地址
            window.multiple_delete_url="{% url 'suites_multiple_delete' %}";
            // 获取批量复制地址
            window.multiple_copy_url="{% url 'suites_multiple_copy' %}";
            // 标识子对象
            {% if has_sub_object %}
                window.has_sub_object = true;
            {% endif %}
            // 运行
            $('[name=execute_button]').on('click', function () {
                var url = $(this).parents('tr').attr('exe_url');
                var name = $(this).parents('tr').find('td[col_name="name"]').text();
                var msg = '开始执行<span class="mark">' + name + '</span>？';
                bootbox.confirm({
                    title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                    message: msg,
                    size: 'large',
		            backdrop: true,
                    buttons: {
                        confirm: {
                            label: '<i class="icon-ok">&nbsp;</i>确定',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<i class="icon-undo">&nbsp;</i>取消',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            var $modal_body_div = $('<div>').addClass('text-center');
                            var execute_name_div = $('<div id="execute_name_div" class="text-left"></div>');
                            execute_name_div.append($('<span>').addClass('font-weight-bold lead').text('套件名称：')).append($('<span>').addClass('text-info lead').text(name));
                            $modal_body_div.append(execute_name_div);
                            var execute_result_div = $('<div id="execute_result_div"></div>');
                            $modal_body_div.append(execute_result_div);
                            var execute_button_div = $('<div id="execute_button_div" style="padding: 0 0 10px 0" class="btn-group"></div>');
                            var pause_button = $('<button id="pause_button" class="btn btn-warning"><i class="icon-pause"></i>&nbsp;暂停</button>');
                            var stop_button = $('<button id="stop_button" class="btn btn-danger"><i class="icon-stop"></i>&nbsp;中止</button>');
                            $modal_body_div.append(execute_button_div.append(pause_button).append(stop_button));
                            var execute_log_outer_div = $('<div class="jumbotron" style="padding: 10px 0 10px 10px"></div>');
                            var execute_log_div = $('<div id="execute_log_div" class="text-left small" style="height: 400px; overflow-y: auto;"></div>');
                            $modal_body_div.append(execute_log_outer_div.append(execute_log_div));
                            var my_modal = show_my_modal('execute_modal', 'modal-max', '', 'overflow-y: auto;', '<i class="icon-spinner icon-spin"></i>&nbsp;执行中...', $modal_body_div, {backdrop:'static'}, function() {$('#objects_form').submit()});

                            var ws_scheme = window.location.protocol === 'https:' ? 'wss' : 'ws';
                            var websocket_url = ws_scheme + '://' + window.location.host + url + '/';
                            var suite_socket = new WebSocket(websocket_url);
                            var execute_uuid = guid();

                            var auto_scroll = true;
                            execute_log_div.scroll(function () {
                                auto_scroll = (execute_log_div.get(0).scrollHeight - execute_log_div.height() <= execute_log_div.scrollTop());
                            });


                            function continue_button_f(button, websocket_url) {
                                button.attr('disabled', true).off('click');
                                var ws = new WebSocket(websocket_url);
                                ws.onmessage = function (data) {
                                    var type = JSON.parse(data.data)['type'];
                                    if (type === 'ready') {
                                        ws.send(JSON.stringify({'command': 'continue', 'execute_uuid': execute_uuid}));
                                    } else if (type === 'message') {
                                        var message = JSON.parse(data.data)['message'];
                                        var pre = $('<pre>').text(message).addClass('text-info');
                                        execute_log_div.append(pre);
                                        execute_log_div.scrollTop(execute_log_div.get(0).scrollHeight);
                                    } else if (type === 'continue'){
                                        button.html('<i class="icon-pause"></i>&nbsp;暂停').removeClass('btn-success').addClass('btn-warning').removeAttr('disabled').off('click').on('click', function () {
                                            pause_button_f(button, websocket_url);
                                        });
                                    }
                                }
                            }

                            function pause_button_f(button, websocket_url) {
                                button.attr('disabled', true).off('click');
                                var ws = new WebSocket(websocket_url);
                                ws.onmessage = function(data) {
                                    var type = JSON.parse(data.data)['type'];
                                    if (type === 'ready'){
                                        ws.send(JSON.stringify({'command': 'pause', 'execute_uuid': execute_uuid}));
                                    } else if (type === 'message'){
                                        var message = JSON.parse(data.data)['message'];
                                        var pre = $('<pre>').text(message).addClass('text-info');
                                        execute_log_div.append(pre);
                                        execute_log_div.scrollTop(execute_log_div.get(0).scrollHeight);
                                    } else if (type === 'pause'){
                                        button.html('<i class="icon-play"></i>&nbsp;继续').removeClass('btn-warning').addClass('btn-success').removeAttr('disabled').off('click').on('click', function () {
                                            continue_button_f(button, websocket_url);
                                        });
                                    }
                                }
                            }

                            pause_button.off('click').on('click', function () {
                                pause_button_f(pause_button, websocket_url);
                            });

                            stop_button.off('click').on('click', function () {
                                pause_button.attr('disabled', true).off('click');
                                var ws = new WebSocket(websocket_url);
                                ws.onmessage = function(data) {
                                    var type = JSON.parse(data.data)['type'];
                                    if (type === 'ready'){
                                        ws.send(JSON.stringify({'command': 'stop', 'execute_uuid': execute_uuid}));
                                    } else if (type === 'message'){
                                        var message = JSON.parse(data.data)['message'];
                                        var pre = $('<pre>').text(message).addClass('text-info');
                                        execute_log_div.append(pre);
                                        execute_log_div.scrollTop(execute_log_div.get(0).scrollHeight);
                                    }
                                }
                            });

                            suite_socket.onmessage = function(data) {
                                var type = JSON.parse(data.data)['type'];
                                if (type === 'ready'){
                                    suite_socket.send(JSON.stringify({'command': 'start', 'execute_uuid': execute_uuid}));
                                } else if (type === 'message'){
                                    var message = JSON.parse(data.data)['message'];
                                    var level = JSON.parse(data.data)['level'];
                                    var pre = $('<pre>').text(message);
                                    if (level) {
                                        if (level>=40) { pre.addClass('text-danger') }
                                        else if (level>=30) { pre.addClass('text-warning') }
                                    }

                                    execute_log_div.append(pre);
                                    if (auto_scroll) {
                                        execute_log_div.scrollTop(execute_log_div.get(0).scrollHeight);
                                    }
                                } else if (type === 'end'){
                                    var data_ = JSON.parse(data.data)['data'];
                                    var content_div = $('<div>').html(data_.suite_result_content);
                                    execute_result_div.append(content_div);
                                    execute_button_div.empty();
                                    var detail_button = $('<button id="detail_button" class="btn btn-primary"><i class="icon-table"></i>&nbsp;结果详情</button>');
                                    execute_button_div.append(detail_button);
                                    detail_button.off('click').on('click', function () {
                                        modal_with_iframe_max('inside_detail_modal', '结果详情', data_.suite_result_url + '?inside=1')
                                    });
                                    my_modal.find('.modal-title').text('执行结束');
                                    // 使modal可以通过点击外部关闭
                                    try {
                                        my_modal.data('bs.modal')._config.backdrop = true;
                                    }
                                    catch (e) {
                                        console.log(e);
                                    }
                                } else if (type === 'error'){
                                    var data_ = JSON.parse(data.data)['data'];
                                    var content_div = $('<div>').addClass('text-left lead text-danger').text(data_);
                                    execute_result_div.append(content_div);
                                    execute_button_div.empty();
                                    my_modal.find('.modal-title').text('执行出错');
                                    // 使modal可以通过点击外部关闭
                                    try {
                                        my_modal.data('bs.modal')._config.backdrop = true;
                                    }
                                    catch (e) {
                                        console.log(e);
                                    }
                                } else if (type === 'continue'){
                                    pause_button.html('<i class="icon-pause"></i>&nbsp;暂停').removeClass('btn-success').addClass('btn-warning').removeAttr('disabled').off('click').on('click', function () {
                                        pause_button_f(pause_button, websocket_url);
                                    });
                                } else if (type === 'pause'){
                                    pause_button.html('<i class="icon-play"></i>&nbsp;继续').removeClass('btn-warning').addClass('btn-success').removeAttr('disabled').off('click').on('click', function () {
                                        continue_button_f(pause_button, websocket_url);
                                    });
                                }
                            };
                            suite_socket.onclose = function(e) {

                            };
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}
{% block result_table %}
    <div class="table-responsive" id='result_div'>
        <table class="table table-bordered table-hover result-table" id='result_table'>
            <colgroup>
                <col style='width: 60px;'>
                <col style='width: 60px;'>
                <col>
                <col style='width: 200px;'>
                <col style='width: 150px;'>
                <col>
                <col style='width: 100px;'>
                <col style='width: 100px;'>
                <col style='width: 105px;'>
                <col style='width: 180px;'>
                <col style='width: 170px;'>
            </colgroup>
            <thead class="thead-light middle">
                <tr>
                    <th index data-toggle="tooltip" title="全选/全不选">序号</th>
                    <th order_by_text="pk">ID</th>
                    <th order_by_text="name">名称</th>
                    <th order_by_text="keyword">关键字</th>
                    <th order_by_text="project__name">项目</th>
                    <th order_by_text="config__name">配置</th>
                    <th order_by_text="m2m_count">用例数</th>
                    <th order_by_text="result_count">结果数</th>
                    <th order_by_text="real_name">作者</th>
                    <th order_by_text="modified_date">修改时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                    <tr pk="{{ obj.pk }}" uuid="{{ obj.uuid }}" edit_url="{% url 'suite' obj.pk %}" quick_update_url="{% url 'suite_quick_update' obj.pk %}" del_url="{% url 'suite_delete' obj.pk %}" exe_url="{% url 'suite_execute' obj.pk %}">
                        <td col_name='index' class="middle small"></td>
                        <td col_name='pk' class="middle small">{{ obj.pk }}</td>
                        <td col_name='name' class="align-middle">{{ obj.name }}</td>
                        <td col_name='keyword' class="middle">{{ obj.keyword }}</td>
                        <td col_name='project__name' class="middle">{{ obj.project__name }}</td>
                        <td col_name='config__name' class="middle">{{ obj.config__name|default_if_none:'N/A' }}</td>
                        <td col_name='m2m_count' class="middle">{{ obj.m2m_count }}</td>
                        <td col_name='result_count' class="middle"><a href="javascript:window.open('{% url "results" %}'+'?all_=True&suite_id={{ obj.pk }}');"><span class="font-weight-bold">{{ obj.result_count }}</span></a></td>
                        <td col_name='real_name' class="middle">{{ obj.real_name|default:obj.creator__username }}</td>
                        <td col_name='modified_date' class="middle">{{ obj.modified_date }}</td>
                        <td class="middle">
                            <div>
                                <button type="button" name="execute_button" class="btn btn-outline-success list_button" data-toggle="tooltip" title="执行"><i class="icon-play"></i></button>
                                <button copy_url="{% url 'suite_copy' obj.pk %}" type="button" name="copy_button" class="btn btn-warning list_button" data-toggle="tooltip" title="复制"><i class="icon-copy"></i></button>
                                <button type="button" name="delete_button" class="btn btn-danger list_button" data-toggle="tooltip" title="删除" {% if request.user.pk != obj.creator and not is_admin %}disabled="disabled"{% endif %}><i class="icon-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="11" class="text-center bg-secondary"><span class="text-white">无数据</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}