{% extends 'main/list_base.html' %}
{% block title %}套件 - {{ block.super }}{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_suite').addClass('active');
            // 获取添加地址
            window.addUrl="{% url 'suite_add' %}";
            // 运行按钮
            $('[name=execute_button]').on('click', function () {
                var csrf_token = window.$csrf_input.val();
                var url = $(this).parents('tr').attr('exe_url');
                var name = $(this).parents('tr').find('td[col_name="name"]').text();
                var msg = '开始执行<span class="mark">' + name + '</span>？';
                bootbox.confirm({
                    title: '<i class="icon-exclamation-sign">&nbsp;</i>请确认',
                    message: msg,
                    size: 'large',
                    buttons: {
                        confirm: {
                            label: '<i class="icon-trash">&nbsp;</i>确定',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<i class="icon-undo">&nbsp;</i>取消',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            $('#mask').show();
                            $.post(url, {'csrfmiddlewaretoken': csrf_token}, function(data) {
                                $('#mask').hide();
                                var content_div = $('<div>').html(data.data.suite_result_content);
                                var a = $('<a>').text('查看详情').addClass('btn btn-primary').attr({'href': data.data.suite_result_url, 'target': 'blank_'})
                                content_div.append($('<div>').addClass('middle').append(a));
                                console.log(content_div)
                                bootbox.dialog({
                                    title: '测试结果',
                                    message: content_div,
                                    size: 'large'
                                });
                            });
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}
{% block result_table %}
    <div class="table-responsive" id='result_table'>
        <table class="table table-bordered table-hover">
            <colgroup>
                <col style='width: 60px;'>
                <col>
                <col style='width: 200px;'>
                <col style='width: 150px;'>
                <col style='width: 300px;'>
                <col style='width: 80px;'>
                <col style='width: 80px;'>
                <col style='width: 180px;'>
                <col style='width: 170px;'>
            </colgroup>
            <thead class="thead-light middle">
                <tr>
                    <th>序号</th>
                    <th order_by_text="name">名称</th>
                    <th order_by_text="keyword">关键字</th>
                    <th order_by_text="project__name">项目</th>
                    <th order_by_text="config__name">配置</th>
                    <th order_by_text="m2m_count">用例数</th>
                    <th order_by_text="creator__username">作者</th>
                    <th order_by_text="modified_date">最后更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                    <tr pk="{{ obj.pk }}" edit_url="{% url 'suite' obj.pk %}" quick_update_url="{% url 'suite_quick_update' obj.pk %}" del_url="{% url 'suite_delete' obj.pk %}" exe_url="{% url 'suite_execute' obj.pk %}">
                        <td col_name='index' class="middle"></td>
                        <td {% if request.user.pk == obj.creator %}quick_update{% endif %} col_name='name' class="align-middle">{{ obj.name }}</td>
                        <td {% if request.user.pk == obj.creator %}quick_update{% endif %} col_name='keyword' class="align-middle">{{ obj.keyword }}</td>
                        <td col_name='project__name' class="middle">{{ obj.project__name }}</td>
                        <td col_name='config__name' class="align-middle">{{ obj.config__name }}</td>
                        <td col_name='step_count' class="middle">{{ obj.m2m_count }}</td>
                        <td col_name='creator__username' class="middle">{{ obj.creator__username }}</td>
                        <td col_name='modified_date' class="middle">{{ obj.modified_date }}</td>
                        <td>
                            <div class="middle">
                                {% if request.user.pk == obj.creator %}
                                    <button type="button" name="edit_button" class="btn btn-info list_button" data-toggle="tooltip" title="编辑"><i class="icon-edit"></i></button>
                                    <button type="button" name="execute_button" class="btn btn-outline-success list_button" data-toggle="tooltip" title="执行"><i class="icon-play"></i></button>
                                    <button type="button" name="delete_button" class="btn btn-danger list_button" data-toggle="tooltip" title="删除"><i class="icon-trash"></i></button>
                                {% else %}
                                    <button type="button" name="edit_button" class="btn btn-info list_button" data-toggle="tooltip" title="查看"><i class="icon-list"></i></button>
                                    <button type="button" name="execute_button" class="btn btn-outline-success list_button" data-toggle="tooltip" title="执行"><i class="icon-play"></i></button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9" class="text-center bg-secondary"><span class="text-white">无数据</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}