{% extends 'main/detail_base.html' %}
{% load staticfiles %}
{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 步骤 - {{ block.super }}
    {% else %}
        新步骤 - {{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>
    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_step').addClass('active');
            // 获取action映射表
            window.action_map = $.parseJSON('{{ action_map_json|escapejs }}');
        })
    </script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 触发展示special_action相关内容，注意必须在触发action前触发
            show_special_action_field($('#id_ui_special_action'));
            // 注册special_action变更
            $('#id_ui_special_action').off('change').change(function () {
                show_special_action_field($(this));
            });
            // 触发展示action相关内容
            show_action_field($('#id_action'));
            // 注册action变更
            $('#id_action').off('change').change(function () {
                show_action_field($(this));
            });
            // 获取子用例下拉项
            {% if request.user == obj.creator or not form.initial %}
                getList("{% url 'case_select_json' %}", window.$csrf_input.val(), update_other_sub_case_dropdown, '{"selected_pk": "{{ form.other_sub_case.value }}"}');
            {% else %}
                getList("{% url 'case_select_json' %}", window.$csrf_input.val(), update_other_sub_case_dropdown_readonly, '{"selected_pk": "{{ form.other_sub_case.value }}"}');
            {% endif %}
            // 关闭遮罩
            $('#mask').hide();
        });
    </script>
    <script src="{% static 'main/js/detail_step.js' %}"></script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='步骤' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate>
        {% csrf_token %}
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">名称</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.name %}
            </div>
        </div>
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">描述</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.description rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">关键字</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.keyword %}
            </div>
        </div>
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">项目</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.project %}
            </div>
        </div>
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">动作</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.action %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_special_action">
            <div class="col-1 text-center font-weight-bold">特殊动作</div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.ui_special_action %}
            </div>
        </div>
        <div class="row align-items-center" base>
            <div class="col-1 text-center font-weight-bold">说明</div>
            <div class="col">
                <div id="introduce" class="bg-light"><div>请选择动作</div></div>
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_by">
            <div class="col-1 text-center font-weight-bold">定位方式&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="选择要使用的定位方式"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.ui_by %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_locator">
            <div class="col-1 text-center font-weight-bold">定位值&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="要传给定位方式的值或表达式。例：定位方式为id，则此处填入id的值；定位方式为css selector，则此处填入css表达式"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.ui_locator rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_index">
            <div class="col-1 text-center font-weight-bold">索引&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="如果提供的定位方式和定位值得到的元素大于1个，可以使用索引来指定唯一元素"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.ui_index %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_base_element">
            <div class="col-1 text-center font-weight-bold">基元素&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="把该元素作为定位的基元素"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.ui_base_element %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_data">
            <div class="col-1 text-center font-weight-bold">数据</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.ui_data rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" ui name="ui_alert_handle">
            <div class="col-1 text-center font-weight-bold">弹窗处理&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="选择如果遇到浏览器弹窗（非页面内部弹窗）的处理方式"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.ui_alert_handle %}
            </div>
        </div>
        <div class="row align-items-center" api>
            <div class="col-1 text-center font-weight-bold">请求地址</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.api_url rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" api>
            <div class="col-1 text-center font-weight-bold">请求 Headers</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.api_headers rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" api>
            <div class="col-1 text-center font-weight-bold">请求 Body</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.api_body rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" api>
            <div class="col-1 text-center font-weight-bold">验证内容</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.api_data rows='2' %}
            </div>
        </div>
        <div class="row align-items-center" other name="other_data">
            <div class="col-1 text-center font-weight-bold">表达式</div>
            <div class="col" form_data>
                {% include 'main/include/form_textarea.html' with field=form.other_data rows='2'%}
            </div>
        </div>
        <div class="row align-items-center" other name="other_sub_case">
            <div class="col-1 text-center font-weight-bold">子用例</div>
            <div class="col" form_data>
                <div id="other_sub_case_dropdown" name="other_sub_case"></div>
                {% for error in form.other_sub_case.errors %}
                    <div class="invalid-feedback" style="display: block">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row align-items-center" common name="timeout">
            <div class="col-1 text-center font-weight-bold">超时设置&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="设置该步骤的超时值，如留空将使用测试套件设置的全局超时值（单位：秒）"></i></div>
            <div class="col" form_data>
                {% include 'main/include/form_input.html' with field=form.timeout %}
            </div>
        </div>
        <div class="row align-items-center" common name="save_as">
            <div class="col-1 text-center font-weight-bold">变量名&nbsp;<i class="icon-question-sign" data-toggle="tooltip" title="填入要保存的变量名称，不能包含 ${  }$"></i></div>
            <div class="col mx-auto" form_data>
                {% include 'main/include/form_input.html' with field=form.save_as %}
            </div>
        </div>

        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='step_copy' %}
    </form>
{% endblock %}