{% extends 'main/detail_base.html' %}
{% load staticfiles %}
{% block title %}
    {% if form.initial %}
        {{ form.initial.name }} - 步骤 - {{ block.super }}
    {% else %}
        新步骤 - {{ block.super }}
    {% endif %}
{% endblock %}

{% block style %}
    <style type='text/css' media='screen'>
    </style>
{% endblock %}

{% block prepare_script %}
    <script>
        $(function () {
            // 更新导航栏
            $('#nav_step').addClass('active');
            // 获取action映射表
            window.action_map = $.parseJSON('{{ action_map_json|escapejs }}');
            {% if request.user == obj.creator or not form.initial %}
                window.editable = true;
            {% else %}
                window.editable = false;
            {% endif %}
        })
    </script>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // 触发展示special_action相关内容，注意必须在触发action前触发
            show_special_action_field($('#id_ui_special_action'));
            // 注册special_action变更
            $('#id_ui_special_action').off('change').change(function () {
                show_special_action_field($(this));
            });
            // 触发展示action相关内容
            show_action_field($('#id_action'));
            // 注册action变更
            $('#id_action').off('change').change(function () {
                show_action_field($(this));
            });
            // 获取子用例下拉项
            getList("{% url 'case_select_json' %}", window.$csrf_input.val(), update_other_sub_case_dropdown, '{"selected_pk": "{{ form.other_sub_case.value }}"}');
            // 更新api变量列表
            var api_save_data = {};
            var api_save_data_success = false;
            try {
                api_save_data = {"data": $.parseJSON($('input[name=api_save]').val())};
                api_save_data_success = true;
            } catch (e) {console.log(e)}
            init_step_api_save_as(api_save_data_success, api_save_data);
            // 更新step_ui_data_select
            var step_ui_data_select = {};
            var step_ui_data_select_success = false;
            try {
                step_ui_data_select = {"data": $.parseJSON($('textarea[name=ui_data]').val())};
                step_ui_data_select_success = true;
            } catch (e) {console.log(e)}
            try {
                init_step_ui_data_select(step_ui_data_select_success, step_ui_data_select);
            } catch (e) {console.log(e)}
            // 关闭遮罩
            $('#mask').hide();
        });
    </script>
    <script src="{% static 'main/js/detail_step.js' %}"></script>
    <script src="{% static 'main/js/detail_step_api_save_as.js' %}"></script>
    <script src="{% static 'main/js/detail_step_ui_data_select.js' %}"></script>
{% endblock %}

{% block detail_header %}
    {% include 'main/include/detail_header.html' with object_name='步骤' %}
{% endblock %}

{% block detail_form %}
    <form method="post" id="object_form" novalidate onsubmit="return check_unsaved();">
        {% csrf_token %}
        {% include 'main/step/form_content.html' %}
        {% include 'main/include/detail_redirect.html' %}
        {% include 'main/include/submit_button_group.html' with copy_url='step_copy' %}
    </form>
{% endblock %}