<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        {% include 'main/include/common_header.html' %}
        <title>自测页面</title>
        {% include 'main/include/general_css.html' %}
        {% include 'main/include/general_script.html' %}
        <style>

        </style>
        <script>
            $(function () {

            })
        </script>
    </head>
    <body>
        <div class="container-fluid" style="padding-top: 60px; padding-bottom: 40px">
            <ul>
                <li><a id="a_test1" href="{% url 'test1' %}" target="_blank">test1</a></li>
                <li><a id="a_test2" href="{% url 'test2' %}" target="_blank">test2</a></li>
                <li><a id="a_test3" href="{% url 'test3' %}" target="_blank">test3</a></li>
                <li><a id="a_debug1" href="{% url 'debug1' %}" target="_blank">debug1</a></li>
                <li><a id="a_debug2" href="{% url 'debug2' %}" target="_blank">debug2</a></li>
                <li><a id="a_debug3" href="{% url 'debug3' %}" target="_blank">debug3</a></li>
            </ul>
            <br>
        </div>
    </body>
</html>