{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        {% include 'main/include/common_header.html' %}
        <title>TEST2</title>
        {% include 'main/include/general_css.html' %}
        {% include 'main/include/general_script.html' %}

        <style>

        </style>
        <script>
            $(function () {
                window.$csrf_input = $('input[name="csrfmiddlewaretoken"]');
                getList("{% url 'cases_select_json' %}", window.$csrf_input.val(), update_div_dropdown, '{"selected_pk":"15"}');



                {#var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');#}
                {##}
                {#chatSocket.onmessage = function(e) {#}
                {#    var data = JSON.parse(e.data);#}
                {#    var message = data['message'];#}
                {#    document.querySelector('#chat-log').value += (message + '\n');#}
                {#};#}
                {##}
                {#chatSocket.onclose = function(e) {#}
                {#    console.error('Chat socket: ', e);#}
                {#};#}
                {##}
                {#document.querySelector('#chat-message-input').focus();#}
                {#document.querySelector('#chat-message-input').onkeyup = function(e) {#}
                {#    if (e.keyCode === 13) {  // enter, return#}
                {#        document.querySelector('#chat-message-submit').click();#}
                {#    }#}
                {#};#}
                {##}
                {#document.querySelector('#chat-message-submit').onclick = function(e) {#}
                {#    var messageInputDom = document.querySelector('#chat-message-input');#}
                {#    var message = messageInputDom.value;#}
                {#    chatSocket.send(JSON.stringify({#}
                {#        'message': message#}
                {#    }));#}
                {##}
                {#    messageInputDom.value = '';#}
                {#};#}
                {##}
                {##}
                {##}
                {#$('#suite-submit').off('click').on('click', function () {#}
                {#    var suite_pk = $('#suite-input').val();#}
                {#    var suite_socket = new WebSocket('ws://' + window.location.host + '/ws/suite_execute/' + String(suite_pk));#}
                {#    var chat_log = $('#chat-log');#}
                {#    chat_log.val('');#}
                {#    var log = '';#}
                {#    suite_socket.onmessage = function(data) {#}
                {#        var message = JSON.parse(data.data)['message'];#}
                {#        log += message + '\n';#}
                {#        chat_log.val(log);#}
                {#        chat_log.scrollTop(chat_log.get(0).scrollHeight);#}
                {#    };#}
                {#    suite_socket.onclose = function(e) {#}
                {#        var message = 'end' + '\n';#}
                {#        log = chat_log.val() + message;#}
                {#        chat_log.val(log);#}
                {#        chat_log.scrollTop(chat_log.get(0).scrollHeight);#}
                {#    };#}
                {##}
                {#})#}


            });


            function update_div_dropdown(success, data) {
                if (success) {
                    update_dropdown(data, $("#div_base1"));
                } else {
                    console.log(data);
                }
            }

            // 更新下拉项
            function update_dropdown(data, $base_div, readonly) {
                $base_div.empty();
                var name = $base_div.attr('name');
                var div_dropdown = $('<div j_dropdown><select style="display: none" placeholder="请选择" name="' + name + '"></select></div>');
                $base_div.append(div_dropdown);
                div_dropdown.j_dropdown({
                    data: data.data,
                    //multipleMode: 'label',
                    //limitCount: 1,
                    input: '<input type="text" maxLength="20" placeholder="筛选">',
                    choice: function() {
                        // console.log(this.selectId);
                        // window._selectId = JSON.stringify(this.selectId);
                    }
                });
                if (readonly) {
                    div_dropdown.data('dropdown').changeStatus('readonly')
                }
            }
        </script>
    </head>
    <body>
        {% csrf_token %}
        <div id="div_base1"></div>

        <br>
        <textarea id="chat-log" cols="100" rows="10" readonly class="form-control"></textarea><br/>
        <input id="chat-message-input" type="text" size="100"/>
        <input id="chat-message-submit" type="button" value="Send"/>
        <br>
        <br>
        <input id="suite-input" type="text" size="100" value="12"/>
        <input id="suite-submit" type="button" value="Run"/>

    </body>
</html>