{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        {% include 'main/include/common_header.html' %}
        {% include 'main/include/general_css.html' %}
        <style media='screen'>
            div.row {
                padding: 5px 0;
                {#min-height: 2em;#}
            }
        </style>
        {% include 'main/include/general_script.html' %}

        <script>
            $(function () {
                // 提示框
                $('[data-toggle=tooltip]').tooltip();
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="execute_log_div" class="jumbotron" style="overflow: auto; white-space: pre-wrap;">{% include 'main/other/version_text.html' %}</div>
        </div>
    </body>
</html>

