{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% include 'main/include/general_css.html' %}
        <style type='text/css' media='screen'>
            div.row {
                padding: 5px 0;
                {#min-height: 2em;#}
            }
        </style>
        {% include 'main/include/general_script.html' %}

        <script>
            $(function () {
                // 提示框
                $('[data-toggle=tooltip]').tooltip();
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="execute_log_div" class="jumbotron" style="overflow: auto; white-space: pre-wrap;">
2019.01.23
1. 优化弹窗处理逻辑，现在可以处理10次以下的连续弹窗
2. 遇到无标题页面不要等待太久

2019.01.21
1. 特殊动作现在可以作用在不可见元素上
2. 特殊动作添加\n\r等特殊符号的输入方式

2019.01.17
1. 修复子用例中止失效的问题
2. 结果中添加中止标识
3. 修复下拉列表插件在提交失败时没能获取提交前临时值的问题

2019.01.16
1. 添加状态监控页面，可以在状态监控页面查看当前运行的套件以及线程状态，并可中止套件执行
2. 添加中止用例执行功能，可单独中止套件中的特定用例
3. 重构中止执行功能，改为使用主动方式发送中止信号
4. 修复变量命名错误

2019.01.07
1. 等待动作改为使用other_data设置时间，支持使用变量
2. 解决隐藏的字段如果包含不存在的变量，执行时报错的问题
3. 线程池加入更多日志，用于排查线程锁死问题

2019.01.04
1. 用例和步骤添加了UI测试间隔设置，用例添加了超时设置

2019.01.03
1. 实现在步骤执行过程的强制停止

2019.01.02
1. 优化步骤提示文字
2. 修复父元素在循环步骤中被复制为空导致的错误
3. 修复循环步骤沿用旧步骤对象导致的错误

2018.12.29
1. 变量现在支持保存列表和字典
2. 数据库执行和验证分为两个动作
3. 数据库执行现在可以把查询结果保存
4. 所有验证动作现在可以把验证结果保存
5. 套件及步骤代码重构

2018.12.21
1. 修复由于线程池一直不释放数据库连接导致的连接关闭问题

2018.12.19
1. 加入测试总线程数量限制
2. 修复结果详情页由于步骤间隔时间导致的保存失败问题
3. 表达式现在支持列表（中括号）
4. 加入最大循环次数的设置

2018.12.14
1. 步骤中的动作选项改为带搜索的控件

2018.12.13
1. 添加ui测试的步骤间隔时间设置

2018.12.11
1. 修复使用远程驱动时设置超时报错的问题
2. 添加条件分支的否则如果（else if）功能

2018.12.10
1. 结果页面标识循环步骤的迭代情况
2. 验证表达式增加支持,（逗号）

2018.12.07
1. 优化数据库IO，加快执行速度

2018.12.06
1. 添加循环功能

2018.12.04
1. 特殊动作的键盘输入现在支持通过反义符输入+号
2. 优化特殊变量t的参数形式和例子
3. 修复配置详情页没有复制按钮的问题

2018.12.03
1. 解决驱动无响应造成程序等待10分钟的问题
2. 修复内嵌页面有时出现重复的保存成功提示问题

2018.11.29
1. token增加有效期限制

2018.11.28
1. 多个ajax回调后遮罩将等到最后的回调完成才消失
2. 复制时不会复制出多余的用例变量
3. 修复复制调用子用例的步骤没有复制子用例的问题
4. 递归判断现在将在用例初始化时进行

2018.11.27
1. 添加设置浏览器位置功能

2018.11.26
1. 添加保存元素文本，保存元素属性值，截取变量值方法
2. js结果可以保存为变量
3. 修复管理员无法修改其他人员变量组的问题

2018.11.23
1. 通过内嵌窗口新建子对象，将会使用父对象的project作为默认值

2018.11.22
1. 下拉列表的对象将通过内嵌窗口打开
2. js结果可以保存为变量
3. 修复管理员无法修改其他人员变量组的问题

2018.11.21
1. ui测试方法减少必填参数，修正特殊动作说明

2018.11.19
1. 修复变量组删除报错
2. 修复结果详情无法修改的问题
3. 修复测试用例复制报错
4. 列表的默认排序改为id倒序

2018.11.15
1. 优化步骤的提示文字

2018.11.14
1. 在结果详情页添加更多套件信息
2. 删除详情按钮，改为a标签形式，便于由用户决定是否打开新窗口
3. 关闭运行结果弹窗后会自动刷新套件列表
4. 结果列表查看关联套件改为在弹窗中展示

2018.11.13
1. 结果和套件关联，套件列表添加结果统计列，结果列表添加按套件筛选功能
2. 在服务端添加权限控制
3. 管理员现在可以操作其他作者创建的对象

2018.11.09
1. 复制对象出错时，页面会给出错误提示
2. 复制对象时，如果遇到已复制的相同对象，将不会重复复制
3. 复制对象时，添加前置后如果名称超长，将自动截断超长的部分
4. 修复json返回值的拼写错误
5. 修复元素组快照显示
6. 通过在model form中添加exclude来排除某些字段的更新操作

2018.11.08
1. 添加批量删除功能
2. 添加批量复制功能
3. 修复复制套件及用例时，子对象未复制完全的问题
4. 修复用例列表步骤数统计错误
5. 优化复制对象的重命名方式，统一改为添加前缀
6. 套件结果表添加字段用于保存套件初始化时的错误信息

2018.10.31
1. 修复ui_data被覆盖为空列表的问题

2018.10.30
1. 修复新增公共元素组时的错误

2018.10.29
1. 添加公共元素组
2. 优化列表，使起宽度可调

2018.10.24
1. 优化选择下拉项动作的页面显示效果
2. 当前用户不是作者时，禁用页面内嵌列表的编辑交互功能

2018.10.19
1. 修复日志重复打印的问题

2018.10.18
1. 优化py_test客户端

2018.10.16
1. 生产环境关闭debug，改为使用nginx+daphne部署

2018.10.10
1. 优化json操作符查找逻辑
2. re操作符现在会返回找到的内容
3. 完成http接口验证功能

2018.10.08
1. 为带搜索框的下拉列表里的URL添加参数，使打开的窗口可以正常跳转到对应的列表页面
2. 开始添加http接口验证功能
3. 修复步骤的api_save字段为空时的报错

2018.09.28
1. 修复无法按照页码跳转到指定页面的问题
2. 优化m2m列表，添加刷新动画，统一弹窗关闭按钮位置

2018.09.27
1. 修复打开新窗口时，导航栏跳转有误的问题

2018.09.26
1. 修复生成时间字符串的参数未区分大小写的问题
2. 修复替换变量时如果出现错误，未能生成错误报告的问题

2018.09.25
1. 添加MySQL数据库验证功能
2. 增加数据库字符集设置

2018.09.21
1. 添加数据库验证功能

2018.09.20
1. 添加清空搜索条件按钮

2018.09.19
1. 搜索时可搜索ID
2. 加入项目过滤项

2018.09.18
1. 结果详情添加用例的变量组快照
2. 结果列表的用例数量不再包含子用例

2018.09.17
1. 结果列表添加用例数量
2. 结果详情添加配置快照，变量组快照

2018.09.13
1. 修复子用例中重置浏览器导致后续步骤无法取得浏览器句柄的问题
2. 修复结果详情页套件的执行耗时没有显示的问题
3. 结果列表页添加执行耗时

2018.09.12
1. 添加新动作 - 转换变量类型
2. 精简代码，去除多余文件
3. 去除线程日志

2018.09.11
1. 添加新动作 - 保存url

2018.09.10
1. 初始化driver超时将强制开启新driver

2018.09.07
1. 结果页面url样式调整
2. 修复日志句柄未释放导致的报错
3. 修复测试耗时计算错误的问题
4. 修复日志句柄没有释放导致报错的问题
5. 修复重置浏览器后后续步骤获取不到driver的问题
6. 关闭窗口操作现在会切换到另一个窗口，如果没有其他窗口将会给出错误提示

2018.09.06
1. 完成分支选择功能，调整特殊变量参数，且变量可保存为指定类型
2. 修复帮助页无法登出的问题
3. 修复验证文字时打印了多余日志的问题

2018.09.05
1. 添加步骤的条件分支功能

2018.09.04
1. 执行测试时的case和step改为对象形式
2. 尝试优化浏览器初始化时有时无响应的问题
3. 修复并发运行测试时前端日志重复推送的问题

2018.09.03
1. 修复文字验证时index无效的问题

2018.08.31
1. 修复步骤页面没有内容时提示样式问题
2. 精简推送到页面的日志
3. 修复搜索没有项目的对象时报错的问题
4. 如果步骤执行过程中页面元素被改变导致出现StaleElementReferenceException，将自动再次执行步骤，直到超时

2018.08.27
1. 添加客户端 py_test_client
2. 添加客户端 API
3. 添加 websocket handler，修复测试日志模块名称错误的问题
4. 优化执行弹窗

2018.08.23
1. 开发测试客户端，添加客户端专用接口

2018.08.22
1. 步骤列表添加被调用次数列
2. 修复添加对象时页面控件不可用的问题

2018.08.21
1. 点击 dropdown 插件的选中项可以跳转到对应的对象页面
2. 非作者打开详情页禁用互动

2018.08.20
1. 变量添加描述字段，优化变量名验证逻辑
2. 添加复制变量组功能
3. 修复无数据时dropdown插件报错的问题

2018.08.17
1. 帮助页面添加文本验证连接符说明

2018.08.16
1. 帮助页面添加文本验证操作符说明

2018.08.15
1. 修复步骤超时时未能截图

2018.08.14
1. 修复使用常规方式无法点击下拉框的问题
2. 修复步骤快照报错
3. 页面刚打开时截图报错会尝试再次截图
4. 修复用例复制功能
5. 修复使用title切换新窗口时报错
6. 添加选择下拉项，滚到到元素位置动作

2018.08.13
1. 继续完善帮助页面

2018.08.10
1. 迁移到mysql

2018.08.09
1. 在详情页点击导航栏返回列表页会保留搜索信息
2. 添加帮助页面

2018.08.08
1. 复制对象时生成新uuid
2. action对象添加code字段，测试及展示时将使用code识别动作
3. 修复后台未展示用户和组模块的问题

2018.08.07
1. 添加站点名称配置
2. 优化后台页面显示

2018.08.06
1. 测试结果页展示优化
2. 修复拖动操作获取目标元素报错

2018.08.03
1. 修复列表页面无法获得当前用户的bug
2. 内嵌页面统一在右上角添加关闭按钮
3. 文字验证现在可以验证输入框内的文本
4. suite模型中的base_timeout字段修改为timeout
5. 为超时值添加限制，不能小于1秒
6. 如果测试时websocket客户端被意外关闭测试会继续进行，不会报错
7. 修复测试结束后点击查看详情无法跳转到结果页的问题

2018.08.02
添加版本号及更新说明

2018.08.01
1. 结果详情弹窗改为内嵌页形式，优化多层子用例的结果展现形式
2. 在结果详情页添加步骤快照

2018.07.31
1. 完成测试过程中推送日志功能
2. 实现测试过程中强制停止功能
3. 添加在测试套件执行结束后可直接弹窗查看测试结果详情页

2018.07.30
添加打印日志时同步推送websocket功能

2018.07.27
引入channels，用于实现测试日志的实时显示

2018.07.24
添加修改用户姓名功能，完善修改密码功能，优化弹窗代码，优化各对象作者显示

2018.07.23
添加自助修改密码功能

2018.07.20
添加功能：子用例搜索，查看被调用

2018.07.19
用例页面的步骤列表添加更多信息

2018.07.18
添加用例的复制功能，复制用例时可以同时复制用例包含的步骤

2018.07.17
添加在套件页面直接添加用例的功能

2018.07.16
添加在用例页面直接添加步骤，复制步骤的功能

2018.07.13
用例，套件详细页面的M2M对象可以直接打开并编辑

2018.07.12
优化跳转方法，所有跳转通过url参数保留搜索信息，修复筛选插件的bug

2018.07.11
变量组及配置添加筛选功能

2018.07.09
添加自定义登录页面，实现普通用户和站点管理员分离，实现保存登录信息功能

2018.07.06
保留搜索信息

2018.07.05
列表页面按钮组按用户权限显示，优化搜索功能，统一view方法命名

2018.07.04
1. 优化找不到浏览器的错误提示
2. 所有数据库对象添加UUID，修复form验证失败时丢失用户信息的问题，对变量名称进行检查

2018.07.03
1. 限制非作者的快速更新
2. 实现步骤的复制功能

2018.07.02
1. 添加项目分类
2. 根据用户限制详情页修改权限

2018.07前
（略）
            </div>
        </div>
    </body>
</html>

