<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>case_list</title>
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'/>
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'/>
        <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script>
            function load() {
                $(function () {
                    // 快速更新
                    var tds = $('#tbody1 td[quick_update]')
                    quick_update(tds, update_single_column, refluch_single_column);

                    // 删除
                    /*
                    $('button[name="delete_button"]').off('clcik').click(function () {
                        var data_id = $(this).parents('tr').attr('data_id');
                        var tc_name = $(this).parent().siblings('td[col_name="name"]').text();
                        var msg = '确定要删除【' + tc_name + '】吗？';
                        var dialog_div = $('<div id="dialog-confirm" title="请确认"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>'+msg+'</p></div>');
                        dialog_div.dialog({
                            resizable: false,
                            modal: true,
                            buttons: {
                                "确定": function () {
                                    $(this).dialog("close");
                                    delete_row("/case/delete/", '{{ csrf_token }}', data_id, debug);
                                },
                                "取消": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    })*/
                })
                $(function () {
                    $('#next_page_button').click(function () {
                        var tb = $('#tbody1');
                        go_to_page("/tc_list/tc_pagination/", '{{ csrf_token }}', tb, 1, '{page_size:3,key_word:"name1"}');
                    })
                })

            }

            // debug
            function debug(success, msg) {
                console.log(success);
                console.log(msg);
            }

            // 快速修改
            function quick_update(tds, func, callback_func) {
                // 注册鼠标双击事件
                tds.off('dblclick').dblclick(function () {
                    //找到当前鼠标双击的td
                    var td = $(this);
                    var col_name = td.attr('col_name');
                    var data_id = td.parent('tr').attr('data_id');
                    // 判断是否已在编辑
                    if (td.attr('editing')) {
                        // 获取原值
                        var old_value = td.data('oldText');
                        var textarea = td.children('textarea');
                        var new_value = textarea.val();
                        //当修改前后的值不同时才进行数据库提交操作
                        if (old_value != new_value) {
                            console.log(func)
                            func("/case/update/", "{{ csrf_token }}", new_value, old_value, col_name, data_id, callback_func);
                        }
                        // 去掉编辑标志
                        td.removeAttr('editing');
                        td.text(td.children().val());
                        td.children().remove();
                    } else {
                        // 添加可编辑属性
                        td.attr('');
                        // 添加编辑标志
                        td.attr('editing', true);
                        //保存原来的文本
                        td.data('oldText', td.text());
                        var old_value = td.text();
                        // 插入输入框
                        var textarea = $("<textarea class='input_area'></textarea>");
                        textarea.css({'height': '2em', 'background-color': 'white'});
                        textarea.text(old_value);
                        td.text('');
                        td.append(textarea);
                        // 切换焦点
                        textarea.trigger("focus");
                        // 全选
                        // textarea.trigger("focus").trigger("select");
                        // 处理键盘输入
                        textarea.off('keydown').keydown(function () {
                            var key_code = event.keyCode;
                            switch (key_code) {
                                // 按下回车，保存修改
                                case 13:
                                    var new_value = textarea.val();
                                    // 当修改前后的值不同时才进行数据库提交操作
                                    if (old_value != new_value) {
                                        func("/case/update/", "{{ csrf_token }}", new_value, old_value, col_name, data_id, callback_func);
                                    }
                                    // 去掉编辑标志
                                    td.removeAttr('editing');
                                    td.text(td.children().val());
                                    td.children().remove();
                                    break;
                                // 按下Esc，取消修改，恢复原来的文本
                                case 27:
                                    td.text(old_value);
                                    // 去掉编辑标志
                                    td.removeAttr('editing');
                                    td.text(td.children().val());
                                    td.children().remove();
                                    break;
                            }
                        });
                        /*
                        //文本框失去焦点的时候变为文本
                        inputObj.blur(function () {
                            var newText = $(this).val();
                            tdObj.html(newText);
                        });
                        */
                    }
                });
            }

            function delete_row(url, csrf_token, data_id, callback_func) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token, data_id: data_id},
                    dataType: "html",
                    success: function (data, textStatus) {
                        {#console.log('success');#}
                        {#console.log("textStatus: " + textStatus);#}
                        {#console.log(data);#}
                        callback_func(true, data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        {#console.log('error');#}
                        {#console.log("XMLHttpRequest: " + XMLHttpRequest);#}
                        {#console.log("XMLHttpRequest.status: " + XMLHttpRequest.status);#}
                        {#console.log("XMLHttpRequest.statusText: " + XMLHttpRequest.statusText);#}
                        {#console.log("XMLHttpRequest.responseText: " + XMLHttpRequest.responseText);#}
                        {#console.log("XMLHttpRequest.responseXML: "+XMLHttpRequest.responseXML);#}
                        {#console.log("textStatus: " + textStatus);#}
                        {#console.log("errorThrown: " + errorThrown);#}
                        callback_func(false, data);
                    }
                })
            }

            function go_to_page(url, csrf_token, tb, page_id, search_criteria) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token, page_id: page_id, search_criteria: search_criteria},
                    dataType: "html",
                    success: function (data, textStatus) {
                        console.log('success');
                        console.log("textStatus: " + textStatus);
                        console.log("data: " + data);
                        console.log("data's lenth: " + $.Object.count.call(data));
                        console.log(data);
                        tb.children().remove();
                        tb.append(data);
                        re_register_table();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log('error');
                        console.log("XMLHttpRequest: " + XMLHttpRequest);
                        console.log("XMLHttpRequest.status: " + XMLHttpRequest.status);
                        console.log("XMLHttpRequest.statusText: " + XMLHttpRequest.statusText);
                        console.log("XMLHttpRequest.responseText: " + XMLHttpRequest.responseText);
                        //console.log("XMLHttpRequest.responseXML: "+XMLHttpRequest.responseXML);
                        console.log("textStatus: " + textStatus);
                        console.log("errorThrown: " + errorThrown);
                        return false;
                    }
                })
            }
        </script>
    </head>
    <body onload="load()">
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li style="color: red;">error: {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post" id="case_form">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        搜索: <input type="text" id="search_input" name="search_input" value="{{ pd.search_input }}">
                        <button type="submit" id='search_button'>搜索</button>
                    </td>
                </tr>
            </table>

            page: <input type="text" id="page" name="page" value="{{ pd.page }}">
            size: <input type="text" id="size" name="size" value="{{ pd.size }}">

            <table id='result_table' class="result_table">
                <colgroup>
                    <col style='width: 60px;'>
                    <col>
                    <col style='width: 20%;'>
                    <col style='width: 100px;'>
                </colgroup>
                <thead>
                    <tr id='header_tr'>
                        <th>ID</th>
                        <th>用例名</th>
                        <th>关键字</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id='tbody1'>
                    {% for case in cases %}
                        <tr data_id="{{ case.id }}">
                            <td col_name='id' class="center"><a href="/case?id={{ case.id }}">{{ case.id }}</a></td>
                            <td quick_update col_name='name'>{{ case.name }}</td>
                            <td quick_update col_name='keyword'>{{ case.keyword }}</td>
                            <td class="center">
                                <a href="/">修改</a>
                                &nbsp;
                                <button name="delete_button">删除</button>
            {#                    <a a_name='tc_delete' data_id={{ case.id }} href="javascript:void(0);">删除</a>#}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">no data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <br/>
        <br/>
        {{ pd }}
    </body>
</html>