<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>DEBUG</title>
        <link rel="stylesheet" href='{% static "jquery-ui/jquery-ui.css" %}'>
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'toastr-2.1.4/toastr.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/font-awesome.css' %}">
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'bootstrap-4.1.1/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootbox/bootbox.min.js' %}"></script>
        <script src="{% static 'toastr-2.1.4/toastr.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <style>

        </style>
        <script>
            $(function () {

            })
        </script>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'test1' %}" target="_blank">test1</a></li>
            <li><a href="{% url 'test2' %}" target="_blank">test2</a></li>
            <li><a href="{% url 'debug1' %}" target="_blank">debug1</a></li>
            <li><a href="{% url 'debug2' %}" target="_blank">debug2</a></li>
        </ul>
        <br>


    </body>
</html>