{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}详情{% endblock %}</title>
        {% block general_style %}
            {% include 'main/include/general_css.html' %}
            <style type='text/css' media='screen'>
                div.row {
                    padding: 5px 0;
                    {#min-height: 2em;#}
                }
            </style>
        {% endblock %}
        {% block style %}
        {% endblock %}
        {% block static_script %}
            {% include 'main/include/general_script.html' %}
            <script src="{% static 'main/js/detail.js' %}"></script>
        {% endblock %}
        {% block general_prepare_script %}
            <script>
                $(function () {
                    window.$csrf_input = $('input[name="csrfmiddlewaretoken"]');
                })
            </script>
        {% endblock %}
        {% block prepare_script %}
        {% endblock %}
        {% block general_script %}
            <script>
                $(function () {
                    // 导航栏跳转包含搜索参数
                    $('.nav-item.active').children('a').attr('href', '/redirect/' + window.location.search);
                    // 注册注销按钮
                    $("#logout_btn").click(function () {
                        window.open('{% url 'user_logout' %}', '_self');
                    });
                    // 反馈框提示样式
                    toastr.options = {
                        "closeButton":false,//显示关闭按钮
                        "debug":false,//启用debug
                        "positionClass":"toast-top-center",//弹出的位置
                        "showDuration":"300",//显示的时间
                        "hideDuration":"1000",//消失的时间
                        "timeOut":"5000",//停留的时间
                        "extendedTimeOut":"1000",//控制时间
                        "showEasing":"swing",//显示时的动画缓冲方式
                        "hideEasing":"linear",//消失时的动画缓冲方式
                        "showMethod":"fadeIn",//显示时的动画方式
                        "hideMethod":"fadeOut"//消失时的动画方式
                    };
                    // 触发反馈框提示
                    {% if prompt == 'success' %}
                        toastr.success('保存成功');
                    {% elif form.errors %}
                        toastr.error('请更正错误项');
                    {% endif %}
                    // 提示框
                    $('[data-toggle=tooltip]').tooltip();
                    // 弹出框
                    $('[data-toggle=popover]').popover();
                    // 注册按钮功能
                    {% if not inside %}
                        $('[name=return_button]').on('click', function() { window.open($('#submit_button_group').attr('next_'), '_self') });
                        $('[name=save_and_return_button]').on('click', function() { $('[name=redirect]').val(true) });
                        $('[name=add_another_button]').on('click', function() { $('[name=redirect]').val('add_another') });
                        $('[name=copy_button]').on('click', function() { copy_obj($('#id_name').val(), $(this).attr('copy_url'), $(this).attr('copy_sub_item')) });
                    {% else %}
                        $('[name=return_button]').on('click', function() { parent.window.$('[name=m2m_detail_modal]').modal('hide') });
                        $('[name=copy_button]').on('click', function() { copy_obj($('#id_name').val(), $(this).attr('copy_url'), $(this).attr('copy_sub_item')) });
                    {% endif %}
                    {#如果是内嵌窗口而且含有成功标志，那么关闭父页面的弹窗#}
                    {% if inside and prompt == 'success' %}
                        {#如果有顺序参数，替换m2m字段的值#}
                        {% if new_pk and order %}
                            parent.window.replace_m2m(parent.window.$m2m_input, '{{ new_pk }}', {{ order }});
                        {#如果有新增标志，更新m2m字段的值#}
                        {% elif new_pk %}
                            parent.window.add_m2m(parent.window.$m2m_input, '{{ new_pk }}');
                        {% endif %}
                        parent.window.$('[name=m2m_detail_modal]').modal('hide');
                    {% endif %}
                    {% if request.user != obj.creator and form.initial %}
                        // 禁用所有互动
                        $('input,textarea,select').attr('disabled', true);
                    {% endif %}
                });

                // 复制对象的回调函数
                function callback_copy_obj(copy_url, name) {
                    copy_obj_post(copy_url, name)
                }

                // 复制对象及子对象的的回调函数
                function callback_copy_obj_sub_item(copy_url, name) {
                    copy_obj_post(copy_url, name, 1)
                }

                // 复制对象
                function copy_obj_post(copy_url, name, copy_sub_item) {
                    $.post(copy_url, {'csrfmiddlewaretoken': $csrf_input.val(), 'name': name, 'order': '{{ order }}', 'copy_sub_item': copy_sub_item}, function(data) {
                        // 如果返回包含有效order，则添加new_pk及order至参数，用于内嵌窗口复制后更新m2m列表
                        if (data.data.order > 0) {
                            window.open(data.data.new_url + window.location.search + '&new_pk=' + data.data.new_pk + '&order=' + data.data.order, '_self');
                        } else {
                            window.open(data.data.new_url + window.location.search, '_self');
                        }
                    });
                }
            </script>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% include 'main/include/mask.html' %}
        {% if not inside %}
            {% include 'main/include/navbar.html' %}
        {% else %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <button type="button" class="close" onclick="parent.window.$('[name=m2m_detail_modal]').modal('hide')">×</button>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container-fluid" style="padding-bottom: 50px; {% if not inside %}padding-top: 50px;{% endif %}" name="detail_content">
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">error: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block detail_header %}
                {% include 'main/include/detail_header.html' %}
            {% endblock %}
            {% block detail_form %}
            {% endblock %}
            {% block detail_inner_list %}
            {% endblock %}
        </div>
    </body>
</html>