{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}详情{% endblock %}</title>
        {% block general_style %}
            <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
            <link rel="stylesheet" href="{% static 'main/css/bootstrap-4.1.1/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/toastr-2.1.4/toastr.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/font-awesome/font-awesome.css' %}">
            <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
            <style type='text/css' media='screen'>
                textarea, input {
                    width: 100%;
                }
                select {
                    width: 300px;
                }
                div.row {
                    padding: 5px 0px;
                    min-height: 2em;
                }
            </style>
        {% endblock %}
        {% block style %}
        {% endblock %}
        {% block general_script %}
            <script src="{% static 'main/js/popper/popper.js' %}"></script>
            <script src="{% static 'main/js/jquery/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
            <script src="{% static 'main/js/bootstrap-4.1.1/bootstrap.min.js' %}"></script>
            <script src="{% static 'main/js/bootbox/bootbox.min.js' %}"></script>
            <script src="{% static 'main/js/toastr-2.1.4/toastr.min.js' %}"></script>
            <script src="{% static 'main/js/main.js' %}"></script>
            <script>
                $(function () {
                    // 提示框样式
                    toastr.options = {
                        "closeButton":false,//显示关闭按钮
                        "debug":false,//启用debug
                        "positionClass":"toast-top-center",//弹出的位置
                        "showDuration":"300",//显示的时间
                        "hideDuration":"1000",//消失的时间
                        "timeOut":"5000",//停留的时间
                        "extendedTimeOut":"1000",//控制时间
                        "showEasing":"swing",//显示时的动画缓冲方式
                        "hideEasing":"linear",//消失时的动画缓冲方式
                        "showMethod":"fadeIn",//显示时的动画方式
                        "hideMethod":"fadeOut"//消失时的动画方式
                    };
                    // 触发操作提示
                    {% if form.errors %}
                        toastr.error('请更正错误项');
                    {% elif is_success is True %}
                        toastr.success('保存成功');
                    {% endif %}
                });
            </script>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% include 'main/include/navbar.html' %}
        <div class="container-fluid" style="padding-top: 60px; padding-bottom: 40px">
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">error: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block detail_header %}
            {% endblock %}
            {% block detail_form %}
            {% endblock %}
            {% block detail_inner_list %}
            {% endblock %}
        </div>
    </body>
</html>