{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}详情{% endblock %}</title>
        {% block general_style %}
            <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
            <link rel="stylesheet" href="{% static 'main/css/jquery.dropdown/jquery.dropdown.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/bootstrap-4.1.1/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/toastr-2.1.4/toastr.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/font-awesome/font-awesome.css' %}">
            <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
            <style type='text/css' media='screen'>
                div.row {
                    padding: 5px 0;
                    {#min-height: 2em;#}
                }
            </style>
        {% endblock %}
        {% block style %}
        {% endblock %}
        {% block general_script %}
            <script src="{% static 'main/js/popper/popper.js' %}"></script>
            <script src="{% static 'main/js/jquery/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
            <script src="{% static 'main/js/jquery.dropdown/jquery.dropdown.js' %}"></script>
            <script src="{% static 'main/js/bootstrap-4.1.1/bootstrap.min.js' %}"></script>
            <script src="{% static 'main/js/bootbox/bootbox.min.js' %}"></script>
            <script src="{% static 'main/js/toastr-2.1.4/toastr.min.js' %}"></script>
            <script src="{% static 'main/js/main.js' %}"></script>
            <script src="{% static 'main/js/detail.js' %}"></script>
            <script>
                $(function () {
                    window.$csrf_input = $('input[name="csrfmiddlewaretoken"]');
                    // 注册注销按钮
                    $("#logout_btn").click(function () {
                        window.open('/logout/', '_self');
                    });
                    // 提示框样式
                    toastr.options = {
                        "closeButton":false,//显示关闭按钮
                        "debug":false,//启用debug
                        "positionClass":"toast-top-center",//弹出的位置
                        "showDuration":"300",//显示的时间
                        "hideDuration":"1000",//消失的时间
                        "timeOut":"5000",//停留的时间
                        "extendedTimeOut":"1000",//控制时间
                        "showEasing":"swing",//显示时的动画缓冲方式
                        "hideEasing":"linear",//消失时的动画缓冲方式
                        "showMethod":"fadeIn",//显示时的动画方式
                        "hideMethod":"fadeOut"//消失时的动画方式
                    };
                    // 触发操作提示
                    {% if prompt == 'success' %}
                        toastr.success('保存成功');
                    {% elif form.errors %}
                        toastr.error('请更正错误项');
                    {% endif %}
                    // 提示框
                    $('[data-toggle=tooltip]').tooltip();
                    // 注册按钮功能
                    $('[name=return_button]').on('click', function() {$('#navbar .navbar-nav>li.active>a')[0].click()});
                    $('[name=save_and_return_button]').on('click', function() {$('[name=redirect]').val(true)});
                    $('[name=add_another_button]').on('click', function() {$('[name=redirect]').val('add_another')});
                    $('[name=copy_button]').on('click', function() {
                        copy_obj($(this).attr('copy_url'));  // 复制对象
                    });
                });
                // 复制对象
                function copy_obj(copy_url) {
                    bootbox.prompt({
                        size: 'large',
                        title: '<i class="icon-exclamation-sign">&nbsp;</i>请输入新名称',
                        value: $('#id_name').val(),
                        buttons: {
                            confirm: {
                                label: '<i class="icon-copy">&nbsp;</i>复制',
                                className: 'btn-warning'
                            },
                            cancel: {
                                label: '<i class="icon-undo">&nbsp;</i>取消',
                                className: 'btn-secondary'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.post(copy_url, {'csrfmiddlewaretoken': $csrf_input.val(), 'name': result}, function(data) {
                                    console.log(data)
                                });
                            }
                        }
                    });
                }
            </script>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% include 'main/include/mask.html' %}
        {% include 'main/include/navbar.html' %}
        <div class="container-fluid" style="padding-top: 60px; padding-bottom: 100px">
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">error: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block detail_header %}
                {% include 'main/include/detail_header.html' %}
            {% endblock %}
            {% block detail_form %}
            {% endblock %}
            {% block detail_inner_list %}
            {% endblock %}
        </div>
    </body>
</html>