<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}列表{% endblock %}</title>
        {% block general_style %}
            <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
            <link rel="stylesheet" href="{% static 'main/css/bootstrap-4.1.1/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/toastr-2.1.4/toastr.css' %}">
            <link rel="stylesheet" href="{% static 'main/css/font-awesome/font-awesome.css' %}">
            <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
            <style type='text/css' media='screen'>
                div.row {
                    padding: 5px 0;
                }
            </style>
        {% endblock %}
        {% block style %}
        {% endblock %}
        {% block general_script %}
            <script src="{% static 'main/js/popper/popper.js' %}"></script>
            <script src="{% static 'main/js/jquery/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
            <script src="{% static 'main/js/bootstrap-4.1.1/bootstrap.min.js' %}"></script>
            <script src="{% static 'main/js/bootbox/bootbox.min.js' %}"></script>
            <script src="{% static 'main/js/toastr-2.1.4/toastr.min.js' %}"></script>
            <script src="{% static 'main/js/main.js' %}"></script>
            <script>
                $(function () {
                    // 获取分页信息
                    window.page = {{ paginator_form.page.value|default:1 }}
                    window.maxPage = {{ paginator.num_pages|default:0 }}
                    window.size = {{ paginator_form.size.value|default:10 }}
                    // 更新cookie
                    set_cookie('page', window.page);
                    set_cookie('size', window.size);
                    // 注册翻页工具条
                    var input = $('input[name=page]');
                    var form = $('#objects_form');
                    var button = $("button[name=first_page_button]");
                    if (window.page == 1) {
                        button.addClass('disabled')
                    } else {
                        button.click(function () {
                            input.val(1);
                            form.submit();
                        });
                    }
                    var button = $("button[name=prev_page_button]");
                    if (window.page == 1) {
                        button.addClass('disabled')
                    } else {
                        button.click(function () {
                            input.val(window.page - 1);
                            form.submit();
                        });
                    }
                    var button = $("button[name=next_page_button]");
                    if (window.page == maxPage) {
                        button.addClass('disabled')
                    } else {
                        button.click(function () {
                            input.val(window.page +1);
                            form.submit();
                        });
                    }
                    var button = $("button[name=last_page_button]");
                    if (window.page == maxPage) {
                        button.addClass('disabled')
                    } else {
                        button.click(function () {
                            input.val(window.maxPage);
                            form.submit();
                        });
                    }
                    // 注册注销按钮
                    $("#logout_btn").click(function () {
                        window.open('/logout/', '_self');
                    });
                    // 提示框样式
                    toastr.options = {
                        "closeButton":false,//显示关闭按钮
                        "debug":false,//启用debug
                        "positionClass":"toast-top-center",//弹出的位置
                        "showDuration":"300",//显示的时间
                        "hideDuration":"1000",//消失的时间
                        "timeOut":"5000",//停留的时间
                        "extendedTimeOut":"1000",//控制时间
                        "showEasing":"swing",//显示时的动画缓冲方式
                        "hideEasing":"linear",//消失时的动画缓冲方式
                        "showMethod":"fadeIn",//显示时的动画方式
                        "hideMethod":"fadeOut"//消失时的动画方式
                    };
                    // 注册添加按钮
                    $('#add_button').on('click', function () {window.open(window.addUrl, '_self');});
                    // 注册只看自己复选框
                    $('#own_checkbox').on('click', function() {$('#objects_form').submit()});
                    // 更新序号
                    $('#result_table td[col_name=index]').each(function(i,v) {$(v).text((window.page - 1) * window.size + 1 + i)});
                    // 注册排序
                    $('#result_table th[order_by_text]').on('dblclick', function () {
                        var order_by_text = $(this).attr('order_by_text');
                        var order_by = $('input[name=order_by]');
                        var order_by_reverse = $('input[name=order_by_reverse]');
                        if (order_by.val() === order_by_text) {
                            if (order_by_reverse.val() === 'True') {
                                order_by_reverse.val('False');
                            } else {
                                order_by_reverse.val('True');
                            }
                        } else {
                            order_by_reverse.val('False');
                            order_by.val(order_by_text);
                        }
                        // 更新排序标志
                        update_sort_icon();
                        $('#objects_form').submit();
                    });
                    // 更新排序标志
                    update_sort_icon();
                    // 注册快速更新事件
                    var tds = $('#result_table tbody td[quick_update]');
                    quick_update(tds, update_single_column, refresh_single_column);
                    // 注册详情按钮
                    bind_edit_button();
                    // 注册删除按钮
                    bind_delete_button();
                    // 触发操作提示
                    {% if prompt == 'success' %}
                        toastr.success('保存成功');
                    {% endif %}
                    // 提示框
                    $('[data-toggle=tooltip]').tooltip();
                    // 关闭遮罩
                    $('#mask').hide();
                });
                // 更新排序标志
                function update_sort_icon() {
                    $('#result_table th[order_by_text]').find('i').remove();
                    var sort_col = $('#result_table th[order_by_text=' + $('input[name=order_by]').val() + ']');
                    if ($('input[name=order_by_reverse]').val() === 'True') {
                        sort_col.prepend('<i class="icon-circle-arrow-down">&nbsp;</i>');
                    } else {
                        sort_col.prepend('<i class="icon-circle-arrow-up">&nbsp;</i>');
                    }
                }
            </script>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% include 'main/include/mask.html' %}
        {% include 'main/include/navbar.html' %}
        <div class="container-fluid" style="padding-top: 60px; padding-bottom: 40px">
            <form method="post" id="objects_form" class="form-inline">
                {% csrf_token %}
                {% block tools_bar %}
                    {% include 'main/include/tools_bar.html' with add_button=True %}
                {% endblock %}
                {{ order_by_form.order_by }}
                {{ order_by_form.order_by_reverse }}
                {% block result_table %}
                {% endblock %}

                {% include 'main/include/tools/paginator.html' %}
            </form>
        </div>
    </body>
</html>