<nav class="navbar navbar-expand bg-dark navbar-dark fixed-top" id="navbar">
{#    <a class="navbar-brand text-white">自动化测试</a>#}
    <ul class="navbar-nav">
        <li class="nav-item" id="nav_case">
            <a class="nav-link" href="/cases">用例维护</a>
        </li>
        <li class="nav-item" id="nav_step">
            <a class="nav-link" href="/steps">步骤维护</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">配置维护</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">变量维护</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">运行</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">结果查看</a>
        </li>
    </ul>

    <form class="form-inline">
        <span class="navbar-text" style="color: powderblue;">当前用户</span>
        <span class="navbar-text" style="color: yellow; padding: 0 0.5em">{{ request.user }}</span>
        <button id="logout_btn" class="btn btn-secondary" type="button"><i class="icon-signout">&nbsp;</i>注销</button>
    </form>
</nav>