<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>步骤列表</title>
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
        <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <script>
            $(function () {
                // 注册快速更新事件
                var tds = $('#tbody1 td[quick_update]');
                quick_update("{% url 'step_update' %}", tds, update_single_column, refresh_single_column);
                // 注册删除按钮事件
                bind_delete_button("{% url 'step_delete' %}");
                // 更新cookie
                set_cookie('page', {{ page }});
                set_cookie('size', {{ size }});
                // 注册翻页工具条
                $("button[name=first_page_button]").click(function () {
                    $('input[name=page]').val(1);
                })
                $("button[name=last_page_button]").click(function () {
                    $('input[name=page]').val({{ paginator.num_pages }});
                })
                $("button[name=prev_page_button]").click(function () {
                    $('input[name=page]').val({{ page }}-1);
                })
                $("button[name=next_page_button]").click(function () {
                    $('input[name=page]').val({{ page }}+1);
                })
                $("input[name=page]").change(function () {
                    $("input[name=page]").val($(this).val());
                })
                $("input[name=size]").change(function () {
                    $("input[name=size]").val($(this).val());
                })
            })
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active">步骤列表</li>
            </ol>
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">error: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="" method="post" id="objects_form">
                {% csrf_token %}

                {% include 'main/paginator.html' %}
                <table>
                    <colgroup>
                        <col style='width:300px;'>
                        <col>
                        <col style='width:50px;'>
                    </colgroup>
                    <tr>
                        <td>
                            <input type="text" id="search_text" name="search_text" value="{{ search_text }}">
                            <button type="submit" id='search_button'>搜索</button>
                        </td>
                        <td></td>
                        <td><button type="button" id="add_button" onclick="window.open('{% url "step_add" %}');">添加</button></td>
                    </tr>
                </table>
                <div class="table-responsive">
                    <table id='result_table' class="table table-striped table-bordered table-hover">
                        <colgroup>
                            <col style='width: 80px;'>
                            <col>
                            <col style='width: 200px;'>
                            <col style='width: 150px;'>
                            <col style='width: 80px;'>
                        </colgroup>
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>关键字</th>
                                <th>Action</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id='tbody1'>
                            {% for object in objects %}
                                <tr object_id="{{ object.id }}">
                                    <td col_name='id'><a target="_blank" href="{% url 'step' object.id %}">{{ object.id }}</a></td>
                                    <td quick_update col_name='name'>{{ object.name }}</td>
                                    <td quick_update col_name='keyword'>{{ object.keyword }}</td>
                                    <td col_name='action'>{{ object.action }}</td>
                                    <td>
                                        <button type="button" id="delete_button" name="delete_button">删除</button>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="align-c">查无数据</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'main/paginator.html' %}
            </form>
        </div>
    </body>
</html>