<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>TEST</title>
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
{#        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>#}
        <script src="{% static 'main/js/main.js' %}"></script>
        <style>
            .info_div {
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 101;
	background-color: #eee;
	opacity: 0.95;
	text-align: center;
	{#display: none;#}
}
            .show_info_wrap {
                float: left;
                position: relative;
                left: 50%
            }
            .show_info_inner {
                position: relative;
                left: -50%;
            }
        </style>
        <script>
            $(function () {

            })
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="show_info"><div><div class="alert alert-success">保存成功</div></div></div>

{#            <div class="alert alert-success text-center fixed-top">保存成功</div>#}
        </div>
    </body>
</html>