<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>TEST2</title>
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href="{% static 'main/css/jquery.dropdown/jquery.dropdown.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap-4.1.1/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/toastr-2.1.4/toastr.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/font-awesome/font-awesome.css' %}">
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
        <script src="{% static 'main/js/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'main/js/jquery.dropdown/jquery.dropdown.js' %}"></script>
        <script src="{% static 'main/js/bootstrap-4.1.1/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/bootbox/bootbox.min.js' %}"></script>
        <script src="{% static 'main/js/toastr-2.1.4/toastr.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <style>

        </style>
        <script>
            $(function () {
                window.$csrf_input = $('input[name="csrfmiddlewaretoken"]');
                getList("{% url 'variable_group_select_json' %}", window.$csrf_input.val(), update_config_dropdown, "{selected_pk:1}");
            });
            function update_config_dropdown(success, data) {
                var base_div = $("#div_base1");
                base_div.find("div#div_dropdown1").remove();
                var div_dropdown = $('<div id="div_dropdown1"><select id="select1" style="display:none" placeholder="请选择"></select></div>');
                base_div.append(div_dropdown);
                $("#div_dropdown1").j_dropdown({
                    data: data.data,
                    //multipleMode: 'label',
                    //limitCount: 1,
                    input: '<input type="text" maxLength="20" placeholder="请输入名称搜索">',
                    choice: function() {
                        console.log(this.selectId);
                        window._selectId1 = this.selectId;
                        //window._selectId = JSON.stringify(this.selectId);
                    }
                });
            }
        </script>
    </head>
    <body>
        {% csrf_token %}
        <div id="div_base1"></div>
    </body>
</html>