<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>TEST</title>
        <link rel="stylesheet" href='{% static "main/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        <style>

        </style>
        <script>
            $(function () {
                $('#b1').click(function() {
                    console.log('show');
                    $('#m1').modal();
                })

            })
        </script>
    </head>
    <body>
        <button id="b1">show</button>
        <div class="container-fluid">
            <div id="m1" class="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title font-weight-bold">请确认</span>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div>
                                是否删除<span class="mark">你妈</span>？
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger">确定</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"></span>取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>