<div class="row">
    <div class="col text-center">
        <h5 class="ui-widget-header">元素列表</h5>
        <div class="text-left" id="sub_button_group" style="padding: 0 0 5px 0">
            <button type="button" id="sub_multiple_delete_button" class="btn btn-danger" disabled="disabled"><i class="icon-trash"></i>&nbsp;批量删除</button>
            <button type="button" id="sub_multiple_copy_obj_button" class="btn btn-warning" disabled="disabled"><i class="icon-copy"></i>&nbsp;生成对象列表</button>
            <button type="button" id="sub_multiple_paste_obj_button" class="btn btn-info"><i class="icon-paste"></i>&nbsp;粘贴对象列表</button>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="text-danger text-left">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <table id='element_table' class="table table-sm table-bordered" style="width: 100%">
            <colgroup>
                <col style='width: 60px;'>
                <col style='width: 60px;'>
                <col style='width: 60px;'>
                <col style='width: 20%;'>
                <col style='width: 170px;'>
                <col>
                <col>
            </colgroup>
            <thead class="thead-light"><tr><th select_all data-toggle="tooltip" title="反选/全选/全不选">排序</th><th>删除</th><th>序号</th><th>名称</th><th>定位方式</th><th>定位值</th><th>备注</th></tr></thead>
            <tbody class="text-left">
                <tr id="new_helper" class="bg-light">
                    <td class="middle" col_move><i class="icon-ok-circle icon-2x text-success" data-toggle="tooltip" title="添加"></i></td>
                    <td class="middle" col_del><i class="icon-trash icon-2x" data-toggle="tooltip" title="删除"></i></td>
                    <td class="middle" col_index><span></span></td>
                    <td col_name><input placeholder="请输入元素名" class="form-control" maxlength="100"></td>
                    <td col_by></td>
                    <td col_locator><input placeholder="请输入定位值" class="form-control"></td>
                    <td col_description><input placeholder="" class="form-control"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>