body {
	font-family: Arial, Microsoft YaHei, SimHei;
	/*font-size: 11pt;*/
	/*width: 99%;*/
}
[form_data] textarea{
	overflow: auto;
	white-space: pre;
	word-wrap: normal;
}
.input_area {
	overflow: auto;
	width: 100%;
	height: 100%;
	/*border-width: 0;*/
	border: 0;
	margin: 0;
	padding: 0;
	background-color: inherit;
	text-align: inherit;
	vertical-align: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: pre;
	word-wrap: normal;
}

/*分页工具栏div*/
div.paginator{
	margin: 0 auto;
	text-align: center
}
div.paginator>div{
	float: left;
    position: relative;
    left: 50%
}
div.paginator>div>div{
    position: relative;
    left: -50%;
    opacity: 0.75;
}
div.paginator td{
	text-align: center;
	/*font-size: 0.8em*/
}
div.paginator input {
	/*font-size: 1em;*/
	/*width: 60px;*/
	border: 1px solid rgb(153, 153, 153);
	resize: vertical;
	text-align: right;
}
/*水平垂直居中*/
.middle {
	text-align: center !important;
	vertical-align: middle!important;
}
/*悬浮按钮*/
.float-button {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1030;
}

/*把弹出框宽度放大*/
@media (min-width: 576px) and (max-width: 1366px) {
  .modal-lg {
	max-width: 87%;
  }
}
@media (min-width: 1366px) {
  .modal-lg {
	max-width: 1188px;
  }
}

/*把弹出框宽度放到最大*/
@media (min-width: 576px) {
  .modal-max {
	max-width: calc(100% - (1.75rem * 2));
  }
}

/* div水平居中 */
div.div_center{
	margin: 0 auto;
	text-align: center
}
div.div_center>div{
	float: left;
    position: relative;
    left: 50%
}
div.div_center>div>div{
    position: relative;
    left: -50%;
}