body {
	font-family: Arial, Microsoft YaHei, SimHei;
	/*font-size: 11pt;*/
	/*width: 99%;*/
}

[form_data] textarea{
	overflow: auto;
	white-space: pre;
	word-wrap: normal;
}
.input-area {
	overflow: auto;
	width: 100%;
	height: 100%;
	/*border-width: 0;*/
	border: 0;
	margin: 0;
	padding: 0;
	background-color: inherit;
	text-align: inherit;
	vertical-align: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: pre;
	word-wrap: normal;
}

.result-table {
	min-width: 1300px;
	width: 99.8%
}

.url {
	word-break: break-all;
}

/*分页工具栏div*/
div.paginator{
	margin: 0 auto;
	text-align: center;

}

div.paginator>div{
	float: left;
    position: relative;
    left: 50%;
	bottom: 5px;
}

div.paginator>div>div{
    position: relative;
    left: -50%;
    opacity: 0.75;
}

div.paginator td{
	text-align: center;
	/*font-size: 0.8em*/
}

div.paginator input {
	/*font-size: 1em;*/
	/*width: 60px;*/
	border: 1px solid rgb(153, 153, 153);
	resize: vertical;
	text-align: right;
}

/*水平垂直居中*/
.middle {
	text-align: center !important;
	vertical-align: middle!important;
}

/*垂直居中*/
.vertical-align-middle {
	vertical-align: middle!important;
}

/*右下角悬浮按钮*/
.float-button-bottom-right {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1030;
}

/*左下角悬浮按钮*/
.float-button-bottom-left {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 1030;
}

/*把弹出框宽度放大*/
@media (min-width: 576px) and (max-width: 1366px) {
  .modal-lg {
	max-width: 87%;
  }
}

@media (min-width: 1366px) {
  .modal-lg {
	max-width: 1188px;
  }
}

/*把弹出框宽度放到最大*/
@media (min-width: 576px) {
  .modal-max {
	max-width: calc(100% - (1.75rem * 2));
  }
}

/* div水平居中 */
div.div_center{
	margin: 0 auto;
	text-align: center
}
div.div_center>div{
	float: left;
    position: relative;
    left: 50%
}
div.div_center>div>div{
    position: relative;
    left: -50%;
}

/* 元素遮罩 */
.element-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1040;
	background-color: #000;
}
.element-mask.fade {
  opacity: 0;
}

.element-mask.show {
  opacity: 0.5;
}

/* 橙色按钮 */
.btn-warning-dark {
  color: #212529;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-warning-dark:hover {
  color: #212529;
  background-color: #e06e00;
  border-color: #d36400;
}
.btn-warning-dark:focus, .btn-warning-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 93, 7, 0.5);
}
.btn-warning-dark.disabled, .btn-warning-dark:disabled {
  color: #212529;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-warning-dark:not(:disabled):not(.disabled):active, .btn-warning-dark:not(:disabled):not(.disabled).active,
.show > .btn-warning-dark.dropdown-toggle {
  color: #212529;
  background-color: #d36400;
  border-color: #c85a00;
}
.btn-warning-dark:not(:disabled):not(.disabled):active:focus, .btn-warning-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 93, 7, 0.5);
}
#go_to_top {
	position: fixed;
	bottom: 5px;
	right: 20px;
	z-index: 1040;
	cursor: pointer;
	opacity: 0.75;
}