table {font-size: 100%;}
a {text-decoration:none;}
a:visited {color:#800080;}
a:hover {
	text-shadow:0 0 0.2em #f87,
				-0 -0 0.2em #f87;
}
.testStep {margin-left: 2em;}
.boldFont {font-weight: bold;}
td {
	word-wrap:break-word;
	overflow:auto;
}
/* -- heading ---------------------------------------------------------------------- */
.heading {
	margin-top: 0ex;
	font-size: 200%;
	color: black;
	font-weight: bold;
	text-align: left;
}
.table_title {
	margin-top: 0ex;
	font-size: 150%;
	color: gray;
	font-weight: bold;
	text-align: center;
}
#time {width:100%;}
#time div {
	white-space: nowrap;
	width: 300px;
	display: table-cell;
	/*border: 1px solid red;*/
}
#summary {width:100%;}
#summary div {
	white-space: nowrap;
	display: table-cell;
	/*border: 1px solid red;*/
}
/* -- report ------------------------------------------------------------------------ */
.result_table {
	table-layout:fixed;
	width: 100%;
	border-collapse: collapse;
}
.result_table th {
	text-align:center;
	font-weight: bold;
	color: white;
	background-color: #AAAAAA;
	text-shadow: black 2px 2px 2px;
	border: 1px solid #666666;
	padding: 2px;
	white-space:nowrap;
}
.result_table th.sub_title {
	font-weight: bold;
	background-color: #ddd;
}
.result_table td {
	border: 1px solid #666666;
	padding: 2px;
}
.result_table td.td_overview {
	height: 32px;/*16*2*/
}
.result_table td.td_case {
	height: 48px;/*16*3*/
}
.result_table td.td_detail {
	height: 240px;
}
.result_table div.scroll {
	overflow: auto;
	height: 100%;
	width: 100%;
}
.result_table .stacktrace {
	white-space: pre;
	word-wrap: normal;
}
.result_table xmp {
	margin-top:0px;
	margin-bottom:0px;
}
.align_center {text-align:center;}
.align_left {text-align:left;}
.bold {font-weight: bold;}
.passStep {background-color: limegreen;}
.failStep {background-color: #FF6666; font-weight: bold;}
.skipStep {background-color: #FFCC22;}
.hide {display: none;}
td[status='1'] {background-color: limegreen;}
td[status='2'] {background-color: #FF6666; font-weight: bold;}
td[status='3'] {background-color: #FFCC22;}